<div class="card">
    <div class="weather-widget-two">
        <div class="card-body">
            <div class="media">
                <svg-icon src="assets/images/svg/widgets/cloud.svg" ></svg-icon>
                <div class="media-body align-self-center text-white">
                    <h4 class="m-0 f-w-600 num">25°C</h4>
                    <p class="m-0 f-14">Newyork</p>
                </div>
            </div>
            <div class="media">
                <svg-icon src="assets/images/svg/widgets/cloudRain.svg" ></svg-icon>
                <div class="media-body align-self-center text-white">
                    <h4 class="m-0 f-w-600 num">95°F</h4>
                    <p class="m-0 f-14">Peris</p>
                </div>
            </div>
            <div class="media">
                <svg-icon src="assets/images/svg/widgets/cloudDrizzle.svg" ></svg-icon>
                <div class="media-body align-self-center text-white">
                    <h4 class="m-0 f-w-600 num">50°C</h4>
                    <p class="m-0 f-14">India</p>
                </div>
            </div>
            <div class="top-bg-whether">
                <svg-icon src="assets/images/svg/widgets/cloudHailAltFill.svg" ></svg-icon>
            </div>
            <div class="bottom-whetherinfo">
                <div class="row">
                    <div class="col-6"><i data-feather="cloud-drizzle"></i></div>
                    <div class="col-6">
                        <div class="whether-content"><span>India, Surat</span>
                            <h4 class="num mb-0">36°F </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>