<div class="page-main-header">
  <div class="main-header-right row m-0">
    <div class="main-header-left col-auto">
      <div class="logo-wrapper"><a href="/">
        <img class="img-fluid" src="../../../../assets/images/logo/shakvatika-logo.png" width="50" alt=""></a><span class="mode ms-2">Shakwatika</span></div>
      <div class="dark-logo-wrapper"><a href="/">
        <img class="img-fluid"   src="../../../../assets/images/logo/shakvatika-logo.png" width="50" alt=""></a><span class="mode ms-2">Shakwatika</span></div>
        <!-- <img class="img-fluid"   src="assets/images/logo/dark-logo.png" alt=""></a></div> -->
      <div class="toggle-sidebar" (click)="sidebarToggle()"><i class="status_toggle middle" data-feather="align-center" id="sidebar-toggle"></i>
      </div>
    </div>
    <div class="left-menu-header col">
      <!-- <app-search></app-search> -->
    </div>
    <div class="nav-right col pull-right right-menu p-0">
      <ul class="nav-menus" [class.open]="open">
      <!-- <li class="language-nav" (click)="languageToggle()">
        <app-languages></app-languages>
      </li> -->
      <li>
        <!-- <app-maximize></app-maximize> -->
      </li>
      <li class="onhover-dropdown">
        <!-- <app-notification></app-notification> -->
      </li>
      <li class="onhover-dropdown">
        <!-- <app-mode></app-mode> -->
      </li>
      <li class="onhover-dropdown">
        <!-- <app-chat></app-chat> -->
        <app-mode></app-mode>

      </li>
        <li class="onhover-dropdown p-0">
          <button class="btn btn-primary-light" (click)="logout()" type="button"><a ><i data-feather="log-out"></i>Log
              out</a></button>
        </li>
      </ul>
    </div>
    <div class="d-lg-none mobile-toggle pull-right w-auto" (click)="openMenu()"><i data-feather="more-horizontal"></i></div>
  </div>
</div>