<div class="container-fluid">
   <div class="row popover-main">
     <div class="col-sm-12">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Basic Examples</h5><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
         </div>
         <div class="card-body">
           <div class="btn-showcase">
            <button class="btn btn-primary example-popover" type="button" popoverTitle="Popover title" ngbPopover="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button><a class="example-popover btn btn-primary" tabindex="0" role="button" data-bs-trigger="focus" popoverTitle="Popover title" ngbPopover="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
            <button class="example-popover btn btn-primary" type="button" data-bs-trigger="hover" data-container="body" placement="bottom" popoverTitle="Popover title" data-offset="-20px -20px" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">On Hover Tooltip</button>
           </div>
         </div>
       </div>
     </div>
     <div class="col-sm-12">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Direction</h5><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
         </div>
         <div class="card-body">
           <div class="btn-showcase">
            <button class="example-popover btn btn-primary" type="button" data-container="body" placement="top" popoverTitle="Popover title" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on top</button>
            <button class="example-popover btn btn-primary" type="button" data-container="body" placement="right" popoverTitle="Popover title" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on right</button>
            <button class="example-popover btn btn-primary" type="button" data-container="body" placement="bottom" popoverTitle="Popover title" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on bottom</button>
            <button class="example-popover btn btn-primary" type="button" data-container="body" placement="left" popoverTitle="Popover title" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on left</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>