<div class="container-fluid px-4">
  <div class="row my-2">
    <div class="col-lg-8 col-12 p-2"></div>
    <div class="col-lg-4 col-12 p-2 d-flex justify-content-end">
      <button type="button" class="btn btn-dark ms-3" #addTask (click)="openModal(template,false)">
        <i class="bi bi-plus-lg"></i>
        Add Channel Partner</button>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <!-- <div class="card-header pb-0">
            <h5>Channel Partner Details</h5>
          </div> -->
      <div class="m-2 row justify-content-end">
        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-complete-search" type="text" class="form-control" name="searchTerm" placeholder="search"
            [(ngModel)]="searchText" autocomplete="off">
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive ">
          <table class="table-hover table invoice-table dataTables_wrapper table-bordered">
            <thead>
              <tr>
                <th>Sr no.</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Mobile No</th>
                <th>Zip Code</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let data of  getData() | filter :searchText; let id=index">
              <tr>
                <td>{{id+1}}</td>
                <td>{{data.fullName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.mobileNo}}</td>
                <td>
                  <div *ngFor="let zip of data.zipCode">
                    {{ zip }}
                  </div>
                  <!-- {{data.zipCode }} -->
                </td>
                <td>
                  <div>
                    <i (click)="openEditModal(data.userId , template, true)" role="button" class="fa fa-edit fs-5 px-2"></i>
                    <i class="fa fa-trash-o px-2 fs-5" role="button" (click)="deleteChanelPartnerById(data.id)"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 py-2">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Records per page:</label>
              </div>
              <div class="col-auto px-2">
                <select class="form-control" id="countPerPage" [(ngModel)]="itemsPerPage"
                  (ngModelChange)="updateCurrentPage(1)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
              </div>
            </div>
          </div>

          <div class="py-2 col-lg-6 d-flex justify-content-end">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-primary">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                      <a class="page-link" (click)="currentPage = currentPage - 1"
                          href="javascript:void(0)" aria-label="Previous"><span
                              aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                  </li>
                  <li class="page-item" *ngFor="let page of getPages()">
                      <a class="page-link" [class.active]="currentPage === page"
                          (click)="currentPage = page" href="javascript:void(0)">{{ page
                          }}</a>
                  </li>
                  <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                      <a class="page-link" (click)="currentPage = currentPage + 1"
                          href="javascript:void(0)" aria-label="Next"><span
                              aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                  </li>
              </ul>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Channel Partner</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalClose()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <form [formGroup]="channelForm" (ngSubmit)="submitForm()">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="my-2" for="firstName"> First Name :</label>
                  <input type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': channelForm.get('firstName')?.touched && channelForm.get('firstName')?.invalid }" />
                  <div *ngIf="channelForm.get('firstName')?.touched && channelForm.get('firstName')?.invalid"
                    class="invalid-feedback">
                    First Name is required.
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="my-2" for="lastName"> LastName :</label>
                  <input type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': channelForm.get('lastName')?.touched && channelForm.get('lastName')?.invalid }" />
                  <div *ngIf="channelForm.get('lastName')?.touched && channelForm.get('lastName')?.invalid"
                    class="invalid-feedback">
                    Last Name is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="my-2" for="mobileNo"> Mobile No :</label>
                  <input type="number" formControlName="mobileNo" class="form-control"
                    [ngClass]="{ 'is-invalid': channelForm.get('mobileNo')?.touched && channelForm.get('mobileNo')?.invalid }" />
                  <div *ngIf="channelForm.get('mobileNo')?.touched && channelForm.get('mobileNo')?.invalid"
                    class="invalid-feedback">
                    Mobile No is required.
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="my-2" for="email"> Email :</label>
                  <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': channelForm.get('email')?.touched && channelForm.get('email')?.invalid }" />
                  <div *ngIf="channelForm.get('email')?.touched && channelForm.get('email')?.invalid"
                    class="invalid-feedback">
                    email is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="my-2" for="password"> Password :</label>
                  <input type="text" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': channelForm.get('password')?.touched && channelForm.get('password')?.invalid }" />
                  <div *ngIf="channelForm.get('password')?.touched && channelForm.get('password')?.invalid"
                    class="invalid-feedback">
                    password is required.
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="my-2" for="profileImage">Profile Image:</label>
                  <div class="form-group">
                    <input type="file" (change)="uploadUserImage($event)" multiple placeholder="Product Image" />
                    <img *ngIf="profileImageSrc" [src]="profileImageSrc" alt="Product Image"
                      class="img-fluid w-25 text-center m-2" />
                    <!-- <img *ngIf="editedUserProfileImage" [src]="editedUserProfileImage" alt="Profile Image"> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="my-2" for="roleId">Role:</label>
                  <select formControlName="roleId" class="form-select form-control" id="bootstrap-notify-icon" name="roleId">
                    <option *ngFor="let item of roleDetails" [value]="item.roleId">{{ item?.roleName }}</option>
                  </select>
                  <div *ngIf="channelForm.get('roleId')?.touched && channelForm.get('roleId')?.invalid" class="invalid-feedback">
                    roleId is required.
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="my-2" for="zipCode">Zip Code:</label>
                  <textarea formControlName="zipCode" class="form-control"
                    [ngClass]="{ 'is-invalid': channelForm.get('zipCode')?.touched && channelForm.get('zipCode')?.invalid }"></textarea>
  
                  <div *ngIf="channelForm.get('zipCode')?.touched && channelForm.get('zipCode')?.invalid"
                    class="invalid-feedback">
                    Zip Codes Details are required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="modal-footer">
            <button *ngIf="!isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()"
              (click)="createChannelPartner()">Submit</button>
            <button *ngIf="isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()"
               (click)="editChannelPartnerByUserIds()">Update</button>
          </div>
        </div>
      </form>
    </ng-template>
  </div>