<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="login-card">
        <form class="theme-form login-form" [formGroup]="loginForm">
          <h4>Login</h4>
          <h6>Welcome back! Log in to your account.</h6>
          <div class="form-group">
            <label>Mobile No.</label>
            <div class="input-group w-100"><span class="input-group-text"><i class="icon-phone"></i></span>
              <input #firstInput (input)="checkIfFormValid()" class="form-control " type="number" placeholder="Enter Number" formControlName="mobileNo">
              <br>
              <div *ngIf="loginForm.controls['mobileNo'].touched && loginForm.controls['mobileNo'].errors?.['required']"
                class="text text-danger mt-1">
                mobile No is required
              </div>
              <div *ngIf="loginForm.controls['mobileNo'].touched && loginForm.controls['mobileNo'].errors?.['mobileNo']"
                class="text text-danger mt-1">
                Invalid mobile No
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
            <label>Email Address</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-email"></i></span>
              <input class="form-control" type="email" placeholder="app@yourmail.com" formControlName="email">
              <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['required']"
                class="text text-danger mt-1">
                Email is required
              </div>
              <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['email']"
                class="text text-danger mt-1">
                Invalid Email
              </div>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label>Password</label>
            <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
              <input class="form-control" [type]="show ? 'text' : 'password'" name="login[password]" required=""
                placeholder="*********">
              <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
              <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
              <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']"
                class="text text-danger mt-1">
                Password is required
              </div>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <div class="checkbox ms-1">
              <input id="checkbox1" type="checkbox">
              <label for="checkbox1">Remember password</label>
            </div><a class="link" href="/authentication/forgot-password">Forgot password?</a>
          </div> -->
          <div class="form-group">
            <button  #getOtpButton class="btn btn-primary btn-block" [disabled]="!loginForm.valid" (click)="login()" type="button">
              Sign In
            </button>
          </div>
          <!-- <div class="login-social-title">
            <h5>Sign in with</h5>
          </div>
          <div class="form-group">
            <ul class="login-social">
              <li><a href="https://www.linkedin.com" target="_blank"><app-feather-icons
                    [icon]="'linkedin'"></app-feather-icons></a></li>
              <li><a href="https://twitter.com" target="_blank"><app-feather-icons
                    [icon]="'twitter'"></app-feather-icons></a></li>
              <li><a href="https://www.facebook.com" target="_blank"><app-feather-icons
                    [icon]="'facebook'"></app-feather-icons></a></li>
              <li><a href="https://www.instagram.com" target="_blank"><app-feather-icons
                    [icon]="'instagram'"></app-feather-icons></a></li>
            </ul>
          </div> -->
          <!-- <p>Don't have account?<a class="ms-2" href="/authentication/register/register-simple">Create Account</a></p> -->
        </form>
      </div>
    </div>
  </div>
</div>