<div class="container-fluid px-4">
    <div class="row my-2">
        <div class="col-lg-8 col-12 p-2"></div>
        <!-- <div class="col-lg-4 col-12 p-2 d-flex justify-content-end">
            <button type="button" class="btn btn-dark ms-3" #addTask (click)="openModal(template)">
                <i class="bi bi-plus-lg"></i>
                Add Farmer</button>
        </div> -->
    </div>

    <div class="col-sm-12">
        <div class="card">
          <!-- <div class="card-header pb-0">
            <h5>FeedBack Details</h5>
          </div> -->
          <div class="m-2 row justify-content-end">
            <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
            <div class="col-xs-3 col-sm-auto">
              <input id="table-complete-search" type="text" class="form-control" name="searchTerm" placeholder="search"
                [(ngModel)]="searchText" autocomplete="off">
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive ">
              <table class="table-hover table invoice-table dataTables_wrapper table-bordered">
                <thead>
                  <tr>
                    <th class="sorting_asc" scope="col">Sr no.</th>
                    <!-- <th class="sorting_asc" scope="col">FeedBack Id</th> -->
                    <th class="sorting_asc" scope="col">User Name</th>
                    <th class="sorting_asc" scope="col">FeedBack</th>
                  </tr>
                </thead>
                <tbody *ngFor="let data of  getData() | filter :searchText; let id=index">
                  <tr>
                    <td>{{id+1}}</td>
                    <!-- <td>{{data.feedBackId}}</td> -->
                    <td>{{data.user}}</td>
                    <td>{{data.feedBack }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
                <div class="col-lg-6 py-2">
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label">Records per page:</label>
                    </div>
                    <div class="col-auto px-2">
                      <select class="form-control" id="countPerPage" [(ngModel)]="itemsPerPage"
                        (ngModelChange)="updateCurrentPage(1)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                      </select>
                    </div>
                  </div>
                </div>
      
                <div class="py-2 col-lg-6 d-flex justify-content-end">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-primary">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" (click)="currentPage = currentPage - 1"
                                href="javascript:void(0)" aria-label="Previous"><span
                                    aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                        </li>
                        <li class="page-item" *ngFor="let page of getPages()">
                            <a class="page-link" [class.active]="currentPage === page"
                                (click)="currentPage = page" href="javascript:void(0)">{{ page
                                }}</a>
                        </li>
                        <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                            <a class="page-link" (click)="currentPage = currentPage + 1"
                                href="javascript:void(0)" aria-label="Next"><span
                                    aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                        </li>
                    </ul>
                </nav>
                </div>
              </div>
          </div>
        </div>
      </div>

