
   <div class="container-fluid">
     <div class="row">
       <div class="col-sm-12">
         <div class="card" *ngFor="let iconTitle of allIconData">
           <div class="card-header pb-0">
             <h5 class="m-b-0">{{iconTitle.title}}</h5>
           </div>
           <div class="card-body">
             <div class="row icon-lists">
               <div class="col-sm-6 col-md-4 col-xl-3"  *ngFor= "let i of iconTitle.icons" (click)="toggleWithInfo(i)"><i class="fa fa-{{i}}"></i> fa {{i}}</div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="icon-hover-bottom p-fixed" *ngIf="detail">
      <div class="container-fluid">
        <div class="row">
          <div class="icon-popup">
            <div class="close-icon"><i class="icofont icofont-close" (click)="detail=false"></i></div>
            <div class="icon-first"><i class="fa fa-{{icon}} fa-2x"></i></div>
            <div class="icon-class">
              <label class="icon-title">Class</label><span id="fclass1">fa fa-{{icon}}</span>
            </div>
            <div class="icon-last icon-last">
              <label class="icon-title">Markup </label>
              <div class="form-inline">
                <div class="form-group">
                  <input class="inp-val form-control m-r-10" type="text" value="{{val}}" readonly="readonly">
                  <button class="btn btn-primary notification" (click)="copyText(icon)">Copy text</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>