   <div class="row">
     <div class="col-xl-6 box-col-6">
       <p class="pb-4">About 6,000 results (0.60 seconds)</p>
       <ng-container *ngFor = "let item of all">
         <div class="info-block">
           <h6>{{item.title}}</h6><a href="#">{{item.webLink}}</a>
           <p>{{item.decs}}</p>
           <div class="star-ratings">
             <ul class="search-info">
              <ng-container *ngIf="item.showRating">
                <li>
                  <ul class="rating">
                    <li><i class="icofont icofont-ui-rating"></i></li>
                    <li><i class="icofont icofont-ui-rating"></i></li>
                    <li><i class="icofont icofont-ui-rating"></i></li>
                    <li><i class="icofont icofont-ui-rate-blank"></i></li>
                    <li><i class="icofont icofont-ui-rate-blank"></i></li>
                  </ul>
                </li>
              </ng-container>
               <li>{{item.rating}} stars</li>
               <li>{{item.votes}} votes</li>
               <li>{{item.music}}</li>
             </ul>
           </div>
         </div>
       </ng-container>
     </div>
     <div class="col-xl-6 box-col-6 search-banner">
       <div class="card">
        <div class="blog-box blog-shadow bg-size" style="background-image: url('assets/images/blog/blog.jpg'); background-size: cover; background-position: center center; display: block;">
          <img class="img-fluid bg-img-cover" src="assets/images/blog/blog.jpg" alt="" style="display: none;">
          <div class="blog-details">
             <p class="digits">25 July 2023</p>
             <h4>Accusamus et iusto odio dignissimos ducimus qui blanditiis.</h4>
             <ul class="blog-social digits">
               <li><i class="icofont icofont-user"></i>Mark Jecno</li>
               <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="info-block m-t-30">
       <nav aria-label="...">
         <ul class="pagination pagination-primary">
           <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">Previous</a></li>
           <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
           <li class="page-item active"><a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a></li>
           <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
           <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
         </ul>
       </nav>
     </div>
   </div>
