<!-- <div class="loader-wrapper loader-box" [class.loderhide]="!show">
    <div class="theme-loader">
        <div class="loader-19"></div>
    </div>
</div> -->


<div class="loader-wrapper" [class.loderhide]="!show">
    <div class="theme-loader">
        <div class="loader-p"></div>
    </div>
</div>