<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header pb-0">
                    7/12 Details
                </div> -->
                <div class="card-body">
                    <form class="needs-validation" [formGroup]="FarmersDetailsForm" novalidate
                        [ngClass]="{'was-validated': validate}">
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label" for="validationCustom01">7/12</label>
                                <input class="form-control" id="validationCustom01" formControlName="seventTwelve"
                                    type="number" placeholder="7/12" required="" onlyAlphabets>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please choose a Name.</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="validationCustom02">Land Details</label>
                                <input class="form-control" id="validationCustom02" formControlName="landDetails"
                                    type="text" placeholder="Land Details" required="" onlyAlphabets>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please choose a Land Details.</div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label" for="validationCustomUsername">Location</label>
                                <div class="input-group">
                                    <input class="form-control" id="validationCustomUsername" type="text"
                                        placeholder="Location" formControlName="location"
                                        aria-describedby="inputGroupPrepend" required="">
                                    <div class="invalid-feedback">Please choose a Location.</div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 pb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="validationCustom03">Google Map</label>
                                <input class="form-control" formControlName="googleMap" id="validationCustom03"
                                    type="text" placeholder="Google Map" required="">
                                <div class="invalid-feedback">Please provide a Google Map.</div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label" for="validationCustom04">Dimension</label>
                                <input class="form-control" formControlName="dimensions" id="validationCustom04"
                                    type="number" placeholder="Dimension" required="">
                                <div class="invalid-feedback">Please provide a valid Dimension.</div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label" for="validationCustom04">Farmer Supervisor Name</label>
                                <input class="form-control" formControlName="farmSupervisorName" id="validationCustom04"
                                    type="text" placeholder="Farmer Supervisor Name" required="">
                                <div class="invalid-feedback">Please provide a valid Farmer Supervisor Name.</div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label" for="validationCustom04">Contact No</label>
                                <input class="form-control" formControlName="contactNo" id="validationCustom04"
                                    type="number" placeholder="Contact No" required="">
                                <div class="invalid-feedback">Please provide a valid Contact No.</div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                        </div>

                        <button class="btn btn-primary " type="button" (click)="submit()"
                            [disabled]="FarmersDetailsForm.invalid" *ngIf="showSubmitButton==true">Submit
                            form</button>
                        <button class="btn btn-primary " type="button" (click)="updateExpertProfileList()"
                            [disabled]="FarmersDetailsForm.invalid" *ngIf="showSubmitButton==false">Update
                            form</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Expert Profile Data</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive data-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product Type</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Qty</th>
                                    <th scope="col">Product Unit</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of FarmersDetailsData">
                                <tr>
                                    <th scope="row">{{item.productType}}</th>
                                    <td>{{item.productName}}</td>
                                    <td>{{item.productQty}}</td>
                                    <td>{{item.productUnit}}</td>
                                    <td>
                                        <i class="fa fa-edit fs-5 px-2" (click)="edit(item)"></i>
                                        <i class="fa fa-trash-o px-2 fs-5"
                                            (click)="deleteExpertProfileList(item._id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>