<div class="container-fluid email-wrap bookmark-wrap todo-wrap">
    <div class="row">
        <div class="col-xl-3 xl-30">
            <app-to-do-filter></app-to-do-filter>
        </div>
        <div class="col-xl-9 xl-70">
            <div class="card">
                <div class="card-header">
                    <h5>To-Do</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="todo">
                        <div class="todo-list-wrapper">
                            <div class="todo-list-container">
                                <div class="mark-all-tasks">
                                    <div class="mark-all-tasks-container">
                                        <span class="mark-all-btn" id="mark-all-finished" role="button" [ngClass]="{'move-up':completed}" id="mark-all-finished" role="button">
                                            <span class="btn-label">Mark all as finished</span>
                                            <span class="action-box completed" (click)="markAllAction(true);">
                                                <i class="icon">
                                                    <i class="icon-check"></i>
                                                </i>
                                            </span>
                                        </span>
                                        <span class="mark-all-btn move-down" id="mark-all-incomplete" role="button" [ngClass]="{'move-down':!completed}">
                                            <span class="btn-label">Mark all as Incomplete</span><span class="action-box">
                                                <i class="icon" (click)="markAllAction(false);">
                                                    <i class="icon-check"></i>
                                                </i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="todo-list-footer ms-2">
                                        <div class="add-task-btn-wrapper">
                                            <span class="add-task-btn">
                                                <button class="btn btn-primary" (click)="visible=true"><i class="icon-plus"></i> Add new task</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="todo-list-body">
                                    <ul id="todo-list">
                                        <li class="task" 
                                            [ngClass]="{'completed':todo.completed ? todo.completed : completed}"
                                            *ngFor="let todo of todos;let i=index">
                                            <div class="task-container">
                                                <h4 class="task-label">{{todo.text}}</h4>
                                                <div class="d-flex">
                                                    <div> 
                                                        <span class="task-priority badge {{todo.badgeClass}}">{{todo.priority}}</span>
                                                    </div>
                                                    <h5 class="assign-name">{{todo.Date}}</h5>
                                                    <span class="task-action-btn">
                                                        <span class="action-box large delete-btn"
                                                            title="Delete Task" routerLink="/to-do"
                                                            (click)="taskDeleted(i)"><i class="icon"><i class="icon-trash"></i></i>
                                                        </span>
                                                        <span class="action-box large complete-btn" title="Mark Complete"
                                                            (click)="taskCompleted(todo)"><i class="icon"><i class="icon-check"></i></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="todo-list-footer">
                                    <div class="new-task-wrapper" [ngClass]="{'visible': visible}">
                                        <textarea class="textfield" name="todo" id="new-task" [(ngModel)]="text"
                                            [class.border-danger]="red_border"></textarea>
                                        <span class="btn btn-danger cancel-btn" id="close-task-panel"
                                            (click)="visible=false">Close</span>
                                        <span class="btn btn-success ms-3 add-new-task-btn" id="add-task"
                                            (click)="addTask({'text':text,'Date':myDate,'priority': 'Pending','badgeClass': 'badge-light-danger','completed': false})">Add Task</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notification-popup hide">
                            <p><span class="task"></span><span class="notification-text"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>