<div class="checkout-details">
   <div class="order-box">
     <div class="title-box">
       <div class="checkbox-title">
         <h4 class="mb-0">Product </h4><span>Total</span>
       </div>
     </div>
     <ul class="qty">
       <li>Pink Slim Shirt × 1 <span>$25.10</span></li>
       <li>Slim Fit Jeans × 1 <span>$555.00</span></li>
     </ul>
     <ul class="sub-total">
       <li>Subtotal <span class="count">$380.10</span></li>
       <li class="shipping-class">Shipping
         <div class="shopping-checkout-option">
           <label class="d-block" for="chk-ani">
             <input class="checkbox_animated" id="chk-ani" type="checkbox" checked="">Option 1
           </label>
           <label class="d-block" for="chk-ani1">
             <input class="checkbox_animated" id="chk-ani1" type="checkbox">Option 2
           </label>
         </div>
       </li>
     </ul>
     <ul class="sub-total total">
       <li>Total <span class="count">$620.00</span></li>
     </ul>
     <div class="animate-chk">
       <div class="row">
         <div class="col">
           <label class="d-block" for="edo-ani">
             <input class="radio_animated" id="edo-ani" type="radio" name="rdo-ani" checked="" data-original-title="" title="">Check Payments
           </label>
           <label class="d-block" for="edo-ani1">
             <input class="radio_animated" id="edo-ani1" type="radio" name="rdo-ani" data-original-title="" title="">Cash On Delivery
           </label>
           <label class="d-block" for="edo-ani2">
             <input class="radio_animated" id="edo-ani2" type="radio" name="rdo-ani" checked="" data-original-title="" title="">PayPal<img class="img-paypal" src="assets/images/checkout/paypal.png" alt="">
           </label>
         </div>
       </div>
     </div>
     <div class="order-place"><a class="btn btn-primary" [routerLink]="['/ecommerce/invoice']">Place Order</a></div>
   </div>
 </div>