<div class="email-right-aside bookmark-tabcontent">
   <div class="card email-body radius-left">
     <div class="ps-0">
       <div class="tab-content">
         <div class="tab-pane fade active show" id="pills-created" role="tabpanel" aria-labelledby="pills-created-tab">
           <div class="card mb-0">
             <div class="card-header d-flex">
               <h5 class="mb-0">Created by me</h5><a href="#"><i class="me-2" data-feather="printer"></i>Print</a>
             </div>
             <div class="card-body p-0">
               <div class="taskadd">
                 <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <td>
                        <h6 class="task_title_0">Document</h6>
                        <p class="project_name_0">Page</p>
                      </td>
                      <td>
                        <p class="task_desc_0">Documentation that is used to explain regarding some attributes of an object. </p>
                      </td>
                      <td><a class="me-2" href="javascript:void(0)"><i data-feather="link"></i></a><a href="javascript:void(0)"> <app-feather-icons [icon]="'more-horizontal'"></app-feather-icons></a></td>
                      <td><a href="javascript:void(0)"><i data-feather="trash-2"></i></a></td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="task_title_0">Kanban Design</h6>
                        <p class="project_name_0">Page</p>
                      </td>
                      <td>
                        <p class="task_desc_0">kanban board is one of the tools that can be used to implement kanban to manage.</p>
                      </td>
                      <td><a class="me-2" href="javascript:void(0)"><i data-feather="link"></i></a><a href="javascript:void(0)"> <app-feather-icons [icon]="'more-horizontal'"></app-feather-icons></a></td>
                      <td><a href="javascript:void(0)"><i data-feather="trash-2"></i></a></td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="task_title_0">User Profile</h6>
                        <p class="project_name_0">General</p>
                      </td>
                      <td>
                        <p class="task_desc_0">There is some Console error in user profile page.</p>
                      </td>
                      <td><a class="me-2" href="javascript:void(0)"><i data-feather="link"></i></a><a href="javascript:void(0)"> <app-feather-icons [icon]="'more-horizontal'"></app-feather-icons></a></td>
                      <td><a href="javascript:void(0)"><i data-feather="trash-2"></i></a></td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="task_title_0">Set Up</h6>
                        <p class="project_name_0">Theme</p>
                      </td>
                      <td>
                        <p class="task_desc_0">Clone the theme test data file from the GitHub repository.</p>
                      </td>
                      <td><a class="me-2" href="javascript:void(0)"><i data-feather="link"></i></a><a href="javascript:void(0)"> <app-feather-icons [icon]="'more-horizontal'"></app-feather-icons></a></td>
                      <td><a href="javascript:void(0)"><i data-feather="trash-2"></i></a></td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="task_title_0">Testing</h6>
                        <p class="project_name_0">Template</p>
                      </td>
                      <td>
                        <p class="task_desc_0">There are many tools available for testing websites, we’ve chosen classics: Chrome dev tools.</p>
                      </td>
                      <td><a class="me-2" href="javascript:void(0)"><i data-feather="link"></i></a><a href="javascript:void(0)"> <app-feather-icons [icon]="'more-horizontal'"></app-feather-icons></a></td>
                      <td><a href="javascript:void(0)"><i data-feather="trash-2"></i></a></td>
                    </tr>
                  </table>
                   
                 </div>
               </div>
             </div>
           </div>
         </div> 
       </div>
     </div>
   </div>
 </div>