<div class="container-fluid add-product">

  <form [formGroup]="productForm" id="productForm" (ngSubmit)="submitForm()">
    <div class="modal-body">
          
          <div class="row">
            <div class="col px-2 mb-3">
              <div class="form-group">
                  <label class="my-2"    for="categoryId">Category</label>
                  <select formControlName="categoryId" class="form-select" aria-label="Default select example"
                  [(ngModel)]="selectedcategoryId" (change)="changecategoryId()"  name="categoryId">
                  <!-- <option value="default" selected>Select a Category</option> -->
                    <option *ngFor="let item of categoryDetails" [ngValue]="item.categoryId">
                    {{item.categoryName}}
                    </option>
            
                  </select>
<!-- 
                  <input type="text" formControlName="categoryId" class="form-control"
                      [ngClass]="{ 'is-invalid': productForm.get('categoryId')?.touched && productForm.get('categoryId')?.invalid }"/>
                  <div *ngIf="productForm.get('categoryId')?.touched && productForm.get('categoryId')?.invalid"
                      class="invalid-feedback">
                      categoryId  is required.
                  </div> -->
              </div>
          </div>
            <div class="col px-2 mb-3">
              <div class="form-group">
                  <label class="my-2" id="productName" for="productName">Product Name:</label>
                  <input type="text" formControlName="productName" class="form-control" placeholder=""
                      [ngClass]="{ 'is-invalid': productForm.get('productName')?.touched && productForm.get('productName')?.invalid }"/>
                  <div *ngIf="productForm.get('productName')?.touched && productForm.get('productName')?.invalid"
                      class="invalid-feedback">
                      Product Name  is required.
                  </div>
              </div>
          </div>
          <div class="col px-2 mb-3">
            <div class="form-group">
              <label class="my-2" id="productQty" for="productQty">Product Quantity:</label>
              <input type="text" formControlName="productQty" class="form-control" placeholder=""
                  [ngClass]="{ 'is-invalid': productForm.get('productQty')?.touched && productForm.get('productQty')?.invalid }"
                   />
  
              <div *ngIf="productForm.get('productQty')?.touched && productForm.get('productQty')?.invalid"
                  class="invalid-feedback">
                  Product Quantity  is required.
              </div>
          </div>
          
            
        </div>
  
  
          <div class="row">
            <div class="col px-2 mb-3">
              <div class="form-group">
                <label class="my-2" id="productUnit" for="productUnit">Product Unit:</label>
                <input type="text" formControlName="productUnit" class="form-control" placeholder=""
                    [ngClass]="{ 'is-invalid': productForm.get('productUnit')?.touched && productForm.get('productUnit')?.invalid }"/>
                <div *ngIf="productForm.get('productUnit')?.touched && productForm.get('productUnit')?.invalid"
                    class="invalid-feedback">
                    Product Unit  is required.
                </div>
            </div>
            </div>
            <div class="col px-2">
                <div class="form-group">
                    <label class="my-2" id="productPrice" for="productPrice">Product Price:</label>
                    <input type="number" formControlName="productPrice" class="form-control" placeholder=""
                        [ngClass]="{ 'is-invalid': productForm.get('productPrice')?.touched && productForm.get('productPrice')?.invalid }"/>
                    <div *ngIf="productForm.get('productPrice')?.touched && productForm.get('productPrice')?.invalid"
                        class="invalid-feedback">
                        Product Price is required.
                    </div>
                </div>
            </div>
            </div>


          <div class="row">
            <div class="col px-2 mb-3">
              <div class="form-group">
                <label class="my-2" id="discount" for="discount">Discount:</label>
                <input type="text" formControlName="discount" class="form-control" placeholder="Discount"
                    [ngClass]="{ 'is-invalid': productForm.get('discount')?.touched && productForm.get('discount')?.invalid }"/>
                <div *ngIf="productForm.get('discount')?.touched && productForm.get('discount')?.invalid"
                    class="invalid-feedback">
                    discount  is required.
                </div>
            </div>
            </div>
            <div class="col px-2">
                <div class="form-group">
                    <label class="my-2" id="deliveryCharges" for="Delivery Charges">Product Price:</label>
                    <input type="number" formControlName="deliveryCharges" class="form-control" placeholder=""
                        [ngClass]="{ 'is-invalid': productForm.get('deliveryCharges')?.touched && productForm.get('deliveryCharges')?.invalid }"/>
                    <div *ngIf="productForm.get('deliveryCharges')?.touched && productForm.get('deliveryCharges')?.invalid"
                        class="invalid-feedback">
                        deliveryCharges is required.
                    </div>
                </div>
            </div>
            </div>
          </div>
  
        <div class="row">
          <div class="col-6 px-2 mb-3">
            <div class="form-group">
              <label class="my-2" id="productForm" for="productDescription">Product Description:</label>
              <input type="text" formControlName="productDescription" class="form-control"placeholder=""
                  [ngClass]="{ 'is-invalid': productForm.get('productDescription')?.touched && productForm.get('productDescription')?.invalid }"/>
              <div *ngIf="productForm.get('productDescription')?.touched && productForm.get('productDescription')?.invalid"
                  class="invalid-feedback">
                  Product Description  is required.
              </div>
          </div>
  </div>
          <div class="col-6 px-2 mb-3">
            <div class="form-group">
              <label class="my-2" for="productImage">Product Image:</label>
              <input type="file" (change)="uploadProductImage($event)" multiple  placeholder=""/>
              <img *ngIf="productImageSrc" [src]="productImageSrc" alt="Product Image">
            </div>
  </div>
  </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success"  (click)="createProduct()">Submit</button>
            <button type="submit" class="btn btn-success" (click)="updateProductByProductId()">Update</button>
          </div>
        </div>
        </form>









  <!-- <form [formGroup]="productForm">
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="product-info">
              <h4>Description</h4>
              <div class="product-group">
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlInput1">Product Name</label>
                      <input class="form-control" id="exampleFormControlInput1" formControlName="productName"
                        type="text" placeholder="Enter product name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div>
                      <label class="form-label" for="exampleFormControlTextarea2">Product Description</label>
                      <textarea class="form-control" id="exampleFormControlTextarea2"
                        formControlName="productDescription" rows="3"
                        placeholder="Enter product description"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="mt-4">Category</h4>
              <div class="product-group">
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlSelect3">Product Category</label>
                      <select class="form-select" id="exampleFormControlSelect3" formControlName="productCategory">
                        <option [ngValue]="'milk'">Milk</option>
                        <option [ngValue]="'veg'">Vegetables</option>
                        <option [ngValue]="'terr'">Terrace Garden</option>
                        <option [ngValue]="'food'">Food & Grocery</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <h4 class="mt-4">Quantity</h4>
              <div class="product-group">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlSelect4">Product Qty</label>
                      <select class="form-select" id="exampleFormControlSelect4" formControlName="productQty">
                        <option value="1">1</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlSelect5">Product Unit</label>
                      <select class="form-select" id="exampleFormControlSelect5" formControlName="productUnit">
                        <option value="kg">KG</option>
                        <option value="liter">Liter</option>
                        <option value="gram">Gram</option>
                        <option value="judi">Judi</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body">
            <div class="product-info">
              <h4>Product Image</h4>
              <ngx-dropzone (change)="onSelect2($event)" [multiple]="true">
                <ngx-dropzone-label>
                  <div>
                    <div class="dz-message needsclick ">
                      <i class="icon-cloud-up"></i>
                      <h6>Drop files here or click to upload.</h6><span class="dz-message needsclick">(This is just a
                        demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                    </div>
                  </div>
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files2" [removable]="true" (removed)="onRemove2(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>

              <h4 class="mt-4">Select Size</h4>
              <div class="product-group">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlInput10">Expiry Date</label>
                      <input class="form-control " id="exampleFormControlInput10" formControlName="expiryDate"
                        placeholder="dd-mm-yyyy" type="date">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlSelect6">Orignal Price</label>
                      <input class="form-control" id="exampleFormControlInput7" formControlName="originalPrice"
                        type="number">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlSelect7">Offer Percentage</label>
                      <input class="form-control" id="exampleFormControlInput7" type="number"
                        formControlName="offerPercentage">
                      <div
                        *ngIf="productForm.get('offerPercentage')?.invalid && (productForm.get('offerPercentage')?.dirty || productForm.get('offerPercentage')?.touched)">
                        <div *ngIf="productForm.get('offerPercentage')?.errors?.['max']" class="text-danger">
                          Maximum percentage allowed is 100%
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlSelect6">Product Delivery</label>
                      <input class="form-control " id="exampleFormControlInput7" formControlName="productDelivery"
                        placeholder="dd-mm-yyyy" type="date">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlSelect7">Offer Price</label>
                      <input class="form-control" id="exampleFormControlInput7" type="number"
                        formControlName="offerPrice" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="row">
                <div class="col">
                  <div class="text-end">
                    <button class="btn btn-primary me-3" [disabled]="productForm.invalid"
                      (click)="onSubmit()">Add</button>
                    <a class="btn btn-danger">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form> -->
</div>