<!-- <div class="row">
  <div class="col-sm-12"> -->
    <div class="card">
      <div class="card-header pb-0">
        <h5>{{title}}</h5>
      </div>
      <div class="card-body avatar-showcase">
        <div class="avatars" >
          <ng-container *ngFor="let item of data">
          <div class="avatar" >
            <img class="{{item.imgClass}}" src={{item.img}} alt="#">
          </div>
        </ng-container>
        </div>
      </div>
    </div>
  <!-- </div>
</div> -->