<form class="theme-form sm-form">
   <div class="mb-3">
    <div class="row">
      <label class="col-xl-2 col-sm-12 col-md-12 col-form-label">Placement</label>
      <div class="col-xl-4 col-sm-12 col-md-6 mb-4">
        <select class="form-select form-control" id="bootstrap-notify-placement-from">
          <option value="top">Top</option>
          <option value="bottom">Bottom</option>
        </select>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
        <select class="form-select form-control" id="bootstrap-notify-placement-align">
          <option value="left">Left</option>
          <option value="right">Right</option>
          <option value="center">Center</option>
        </select>
      </div>
    </div>
    <ng-container *ngFor="let item of Bootstrap">
      <div class="row">
        <label class="col-xl-2 col-sm-12 col-md-12 col-form-label">{{item.title}}</label>
        <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
          <select class="form-select form-control" id="bootstrap-notify-placement-align">
            <ng-container *ngFor="let g of item.selectOne">
              <optgroup label="{{g.optgroup}}">
                <option *ngFor="let o of g.option" value="o">{{o}}</option>
              </optgroup>
            </ng-container>
          </select>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
          <select class="form-select form-control" id="bootstrap-notify-placement-align">
            <ng-container *ngFor="let g of item.selectTwo">
              <optgroup label="{{g.optgroup}}">
                <option *ngFor="let o of g.option" value="o">{{o}}</option>
              </optgroup>
            </ng-container>
          </select>
        </div>
      </div>
    </ng-container>                 
     <div class="row">
       <label class="col-xl-2 col-sm-12 col-md-12 col-form-label">Icon</label>
       <div class="col-xl-4 col-md-12 col-sm-12 mb-4">
         <select class="form-select form-control" id="bootstrap-notify-icon">
           <option value="">None</option>
           <option *ngFor="let i of icon" value="{{i}}" >{{i}}</option>
         </select>
       </div>
     </div>
     <div class="row"></div>
     <div class="mb-3 row"></div>
   </div>
 </form>