<div class="card">
    <div class="card-header">
      <h5 class="mb-0 p-0">
        <button class="btn btn-link" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">Categories</button>
      </h5>
    </div>
    <div class="collapse show" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <ng-container *ngFor="let c of Categories">
        <div class="categories">
          <div class="learning-header"><span class="f-w-600">{{c.title}}</span></div>
          <ul>
              <ng-container *ngFor="let d of c.designer">
                <li><a href="#">{{d.designerTitle}}</a><span class="badge badge-primary pull-right">{{d.count}}</span></li>
              </ng-container>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>