<div class="container-fluid">
    <div class="row my-2">
        <div class="col-lg-8 col-12 p-2"></div>
        <div class="col-lg-4 col-12 p-2 d-flex justify-content-end">
            <button type="button" class="btn btn-dark ms-3" #addTask (click)="openModal(template, false)">
                <i class="bi bi-plus-lg"></i>
                Add Address</button>
        </div>
    </div>
    <div class="row">
        <ng-template #template>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add Address</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalClose()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <form [formGroup]="adressForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-2" for="categoryId">Users :</label>
                                    <select formControlName="userId" class="form-select"
                                        aria-label="Default select example" [(ngModel)]="userId"
                                        (change)="changeuserId()" name="userId">
                                        <!-- <option value="default" selected>Select a Category</option> -->
                                        <option *ngFor="let item of userDetials" [ngValue]="item.userId">
                                            {{item.firstName}}&nbsp; {{item.lastName}}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-2" for="fullName">Full Name :</label>
                                    <input type="text" formControlName="fullName" class="form-control"
                                        [ngClass]="{ 'is-invalid': adressForm.get('fullName')?.touched && adressForm.get('fullName')?.invalid }" />
                                    <div *ngIf="adressForm.get('fullName')?.touched && adressForm.get('fullName')?.invalid"
                                        class="invalid-feedback">
                                        Full Name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-2" for="mobileNo">Mobile No :</label>
                                    <input type="text" formControlName="mobileNo" class="form-control"
                                        [ngClass]="{ 'is-invalid': adressForm.get('mobileNo')?.touched && adressForm.get('mobileNo')?.invalid }" />
                                    <div *ngIf="adressForm.controls['mobileNo'].touched && adressForm.controls['mobileNo'].errors?.['required']"
                                        class="text text-danger mt-1">
                                        mobile No is required
                                    </div>
                                    <div *ngIf="adressForm.controls['mobileNo'].touched && adressForm.controls['mobileNo'].errors?.['mobileNo']"
                                        class="text text-danger mt-1">
                                        Invalid mobile No
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-2" for="addressType">Address Type :</label>
                                    <input type="text" formControlName="addressType" class="form-control"
                                        [ngClass]="{ 'is-invalid': adressForm.get('addressType')?.touched && adressForm.get('addressType')?.invalid }" />

                                    <div *ngIf="adressForm.get('addressType')?.touched && adressForm.get('addressType')?.invalid"
                                        class="invalid-feedback">
                                        Address Type is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-2" for="address">Address :</label>
                                    <textarea formControlName="address" class="form-control"
                                    [ngClass]="{ 'is-invalid': adressForm.get('address')?.touched && adressForm.get('address')?.invalid }"></textarea>
                                    <!-- <input type="text" formControlName="address" class="form-control"
                                        [ngClass]="{ 'is-invalid': adressForm.get('address')?.touched && adressForm.get('address')?.invalid }" /> -->
                                        <div *ngIf="adressForm.get('address')?.touched && adressForm.get('address')?.invalid"
                                        class="invalid-feedback">
                                        Address is required.
                                      </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-2" for="pincode">Pin Code :</label>
                                    <input type="number" formControlName="pincode" class="form-control"
                                        [ngClass]="{ 'is-invalid': adressForm.get('pincode')?.touched && adressForm.get('pincode')?.invalid }" />

                                    <div *ngIf="adressForm.get('pincode')?.touched && adressForm.get('pincode')?.invalid"
                                        class="invalid-feedback">
                                        pincode is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                                <label class="my-2" for="locality">Locality :</label>
                                <input type="text" formControlName="locality" class="form-control"
                                    [ngClass]="{ 'is-invalid': adressForm.get('locality')?.touched && adressForm.get('locality')?.invalid }" />

                                <div *ngIf="adressForm.get('locality')?.touched && adressForm.get('locality')?.invalid"
                                    class="invalid-feedback">
                                    locality is required.
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label class="my-2" for="state">State :</label>
                                <input type="text" formControlName="state" class="form-control"
                                    [ngClass]="{ 'is-invalid': adressForm.get('state')?.touched && adressForm.get('state')?.invalid }" />

                                <div *ngIf="adressForm.get('state')?.touched && adressForm.get('state')?.invalid"
                                    class="invalid-feedback">
                                    state is required.
                                </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="container ">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                                <label class="my-2" for="city">City :</label>
                                <input type="text" formControlName="city" class="form-control"
                                    [ngClass]="{ 'is-invalid': adressForm.get('city')?.touched && adressForm.get('city')?.invalid }" />

                                <div *ngIf="adressForm.get('city')?.touched && adressForm.get('city')?.invalid"
                                    class="invalid-feedback">
                                    city is required.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="my-2" for="defaultAddress">Default Address :</label>
                                <input type="number" formControlName="defaultAddress" class="form-control"
                                    [ngClass]="{ 'is-invalid': adressForm.get('defaultAddress')?.touched && adressForm.get('defaultAddress')?.invalid }" />
    
                                <div *ngIf="adressForm.get('defaultAddress')?.touched && adressForm.get('defaultAddress')?.invalid"
                                    class="invalid-feedback">
                                    defaultAddress is required.
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="modal-footer">
                        <button *ngIf="!isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()"
                            [disabled]="adressForm.invalid" (click)="createAddress()">Submit</button>
                        <button *ngIf="isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()"
                            (click)="UpdateAddressByAddressId()">Update</button>
                    </div>
                </div>
            </form>
        </ng-template>

        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header pb-0">
                <h5>Address Details</h5>
              </div> -->
                <div class="m-2 row justify-content-end">
                    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                            placeholder="search" [(ngModel)]="searchText" autocomplete="off">
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <table class="table-hover table invoice-table dataTables_wrapper table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Full Name</th>
                                    <th>Mobile No</th>
                                    <th>Address Type</th>
                                    <th>Address</th>
                                    <th>Pin Code</th>
                                    <th>Locality</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Default Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of getData() | filter :searchText; let id=index">
                                <tr>
                                    <td>{{id+1}}</td>
                                    <td>{{item.fullName}}</td>
                                    <td>{{item.mobileNo}}</td>
                                    <td>{{item.addressType}}</td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.pincode}}</td>
                                    <td>{{item.locality}}</td>
                                    <td>{{item.state}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.defaultAddress}}</td>
                                    <td>
                                        <i class="fa fa-edit fs-5 px-2" role="button"
                                            (click)="openEditModal(item.addressId, template, true)"></i>
                                        <i class="fa fa-trash-o px-2 fs-5" role="button"
                                            (click)="deleteAddressByAddressId(item.addressId)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 py-2">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="inputPassword6" class="col-form-label">Records per page:</label>
                                </div>
                                <div class="col-auto px-2">
                                    <select class="form-control" id="countPerPage" [(ngModel)]="itemsPerPage"
                                        (ngModelChange)="updateCurrentPage(1)">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="py-2 col-lg-6 d-flex justify-content-end">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-primary">
                                    <li class="page-item" [class.disabled]="currentPage === 1">
                                        <a class="page-link" (click)="currentPage = currentPage - 1"
                                            href="javascript:void(0)" aria-label="Previous"><span
                                                aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                                    </li>
                                    <li class="page-item" *ngFor="let page of getPages()">
                                        <a class="page-link" [class.active]="currentPage === page"
                                            (click)="currentPage = page" href="javascript:void(0)">{{ page
                                            }}</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                                        <a class="page-link" (click)="currentPage = currentPage + 1"
                                            href="javascript:void(0)" aria-label="Next"><span
                                                aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Address Details</h5>
                </div>
                <div class="card-body own-table">
                    <div class="table-hover table invoice-table dataTables_wrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th >Sr no.</th>
                                    <th >fullName</th>
                                    <th >mobileNo</th>
                                    <th >addressType</th>
                                    <th >address</th>
                                    <th >pincode</th>
                                    <th >locality</th>
                                    <th >state</th>
                                    <th >city</th>
                                    <th >defaultAddress</th>
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of AddressList; let id=index">
                                <tr>
                                    <td>{{id+1}}</td>
                                    <td>{{item.fullName}}</td>
                                    <td>{{item.mobileNo}}</td>
                                    <td>{{item.addressType}}</td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.pincode}}</td>
                                    <td>{{item.locality}}</td>
                                    <td>{{item.state}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.defaultAddress}}</td>
                                    <td>
                                        <i class="fa fa-edit fs-5 px-2" role="button"
                                            (click)="openEditModal(item.addressId, template)"></i>
                                        <i class="fa fa-trash-o px-2 fs-5" role="button"
                                            (click)="deleteAddressByAddressId(item.addressId)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>