<div class="container-fluid">
    <div class="row my-2">
        <div class="col-lg-8 col-12 p-2"></div>
        <div class="col-lg-4 col-12 p-2 d-flex justify-content-end">
            <button type="button" class="btn btn-dark ms-3" #addTask (click)="openModal(template, false)">
                <i class="bi bi-plus-lg"></i>
                Add Expert</button>
        </div>
    </div>
    <div class="row">
        <ng-template #template>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add Expert</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <form [formGroup]="ExpertProfileForm" (ngSubmit)="submit()">
                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-2" for="name">Name :</label>
                                    <input type="text" formControlName="name" class="form-control"
                                        [ngClass]="{ 'is-invalid': ExpertProfileForm.get('name')?.touched && ExpertProfileForm.get('name')?.invalid }" />
                                    <div *ngIf="ExpertProfileForm.get('name')?.touched && ExpertProfileForm.get('name')?.invalid"
                                        class="invalid-feedback">
                                        Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-2" for="backgGround">Background :</label>
                                    <input type="text" formControlName="backgGround" class="form-control"
                                        [ngClass]="{ 'is-invalid': ExpertProfileForm.get('backgGround')?.touched && ExpertProfileForm.get('backgGround')?.invalid }" />
                                    <div *ngIf="ExpertProfileForm.get('backgGround')?.touched && ExpertProfileForm.get('backgGround')?.invalid"
                                        class="invalid-feedback">
                                        Background is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container ">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-2" for="contactNo">Contact No:</label>
                                    <input type="number" formControlName="contactNo" class="form-control"
                                        [ngClass]="{ 'is-invalid': ExpertProfileForm.get('contactNo')?.touched && ExpertProfileForm.get('contactNo')?.invalid }" />
                                    <div *ngIf="ExpertProfileForm.get('contactNo')?.touched && ExpertProfileForm.get('contactNo')?.invalid"
                                        class="invalid-feedback">
                                        Contact no. is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button *ngIf="!isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()"
                            [disabled]="ExpertProfileForm.invalid" (click)="createExpertProfile()">Submit</button>
                        <button *ngIf="isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()"
                            [disabled]="ExpertProfileForm.invalid" (click)="updateExpertProfile()">Update</button>
                    </div>
                </div>
            </form>
        </ng-template>


        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Expert Profile Details</h5>
                </div>
                <div class="mb-3 row justify-content-end">
                    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                            placeholder="search" [(ngModel)]="searchText" autocomplete="off">
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <table class="table-hover table invoice-table dataTables_wrapper table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Name</th>
                                    <th>Background</th>
                                    <th>Contact No.</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of  getData() | filter :searchText; let id=index">
                                <tr>
                                    <td>{{id+1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.backgGround}}</td>
                                    <td>{{item.contactNo}}</td>
                                    <td>
                                        <i class="fa fa-edit fs-5 px-2" role="button"
                                            (click)="openEditModal(item.id, template,true)"></i>
                                        <i class="fa fa-trash-o px-2 fs-5" role="button"
                                            (click)="deleteExpertProfileById(item.id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 py-2">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="inputPassword6" class="col-form-label">Records per page:</label>
                                </div>
                                <div class="col-auto px-2">
                                    <select class="form-control" id="countPerPage" [(ngModel)]="itemsPerPage"
                                        (ngModelChange)="updateCurrentPage(1)">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="py-2 col-lg-6 d-flex justify-content-end">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-primary">
                                    <li class="page-item" [class.disabled]="currentPage === 1">
                                        <a class="page-link" (click)="currentPage = currentPage - 1"
                                            href="javascript:void(0)" aria-label="Previous"><span
                                                aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                                    </li>
                                    <li class="page-item" *ngFor="let page of getPages()">
                                        <a class="page-link" [class.active]="currentPage === page"
                                            (click)="currentPage = page" href="javascript:void(0)">{{ page
                                            }}</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                                        <a class="page-link" (click)="currentPage = currentPage + 1"
                                            href="javascript:void(0)" aria-label="Next"><span
                                                aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Expert Profile Data</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive data-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Sr no.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Background</th>
                                    <th scope="col">Contact No.</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of expertProfileData; let id=index">
                                <tr>
                                    <td>{{id+1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.backgGround}}</td>
                                    <td>{{item.contactNo}}</td>
                                    <td>
                                        <i class="fa fa-edit fs-5 px-2" role="button" (click)="openEditModal(item.id, template)"></i>
                                        <i class="fa fa-trash-o px-2 fs-5"
                                        role="button"  (click)="deleteExpertProfileById(item.id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->


    </div>
</div>













<!-- <div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Individual column searching (text inputs) </h5><span></span>
                </div>
                <div class="card-body">
                    <div class="mb-3 row justify-content-end">
                        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
                        <div class="col-xs-3 col-sm-auto">
                            <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                                [(ngModel)]="searchText" autocomplete="off">
                        </div>
                    </div>
                    <div class="table-responsive  own-table">
                        <table class="table-hover table invoice-table dataTables_wrapper " id="basic-1">
                            <thead>
                                <tr>
                                    <th class="sorting_asc" scope="col">Name</th>
                                    <th class="sorting_asc" scope="col">Background</th>
                                    <th class="sorting_asc" scope="col">Experience</th>
                                    <th class="sorting_asc" scope="col">Mobile No</th>
                                    <th class="sorting_asc" scope="col">Location</th>
                                    <th class="sorting_asc" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="odd" *ngFor="let item of filteredItems">
                                    <td class="sorting_1">{{item.name}}</td>
                                    <td class="sorting_1">{{item.backGround}}</td>
                                    <td class="sorting_1">{{item.experience}}</td>
                                    <td class="sorting_1">{{item.mobileNo}}</td>
                                    <td class="sorting_1">{{item.location}}</td>
                                    <td class="sorting_1"> <button class="btn btn-primary btn-xs" type="button"
                                            data-original-title="btn btn-danger btn-xs" title=""
                                            (click)="edit(item)">Edit</button>
                                        <button class="btn btn-danger btn-xs " type="button"
                                            data-original-title="btn btn-danger btn-xs" title=""
                                            (click)="deleteExpertProfileList(item._id)">Delete</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <select class="form-select" style="width: auto" name="pageSize"
                            (change)="getExpertProfileList()" [(ngModel)]="pagination.limit">
                            <option [ngValue]="5">5 items per page</option>
                            <option [ngValue]="10">10 items per page</option>
                            <option [ngValue]="25">25 items per page</option>
                            <option [ngValue]="50">50 items per page</option>
                            <option [ngValue]="100">100 items per page</option>
                        </select>
                        <ngb-pagination class="ms-3" [collectionSize]="pagination.totalCount"
                            [(page)]="pagination.currentPage" [pageSize]="pagination.limit"
                            (pageChange)="getExpertProfileList()">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->