
 <div class="card">
   <div class="card-header">
     <h5>Area Chart <span>2</span></h5>
   </div>
   <div class="card-body p-0 chart-block">
     <div class="chart-overflow">
      <google-chart [data]="areaChart2"></google-chart>
     </div>
   </div>
 </div>