<div class="job-sidebar md-sidebar"><a class="btn btn-primary job-toggle" href="javascript:void(0)" (click)="openFilter()">learning filter</a>
    <div class="md-sidebar-aside custom-scrollbar" [class.open]="OpenFilter">
      <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc">
        <div class="row">
          <div class="col-xl-12">
            <app-finde-course></app-finde-course>
          </div>
          <div class="col-xl-12">
            <app-categories></app-categories>
          </div>
          <div class="col-xl-12">
            <app-upcoming-courses></app-upcoming-courses>
          </div>
        </div>
      </div>
    </div>
  </div>