<div class="modal-content">
   <div class="modal-header">
   <h5 class="modal-title" id="exampleModalLabel">Add Bookmark</h5>
   <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">                                                 </button>
   </div>
   <div class="modal-body">
   <form class="form-bookmark needs-validation" id="bookmark-form" novalidate="" [formGroup]="addBookmarkForm">
      <div class="form-row">
         <div class="form-group col-md-12 m-b-20">
         <label for="bm-weburl">Web Url</label>
         <input class="form-control" id="bm-weburl" type="text" required="" autocomplete="off" formControlName="webUrl" required>
         </div>
         <div class="form-group col-md-12 m-b-20">
         <label for="bm-title">Title</label>
         <input class="form-control" id="bm-title" type="text" required="" autocomplete="off" formControlName="title" required>
         </div>
         <div class="form-group col-md-12 m-b-20">
         <label>Description</label>
         <textarea class="form-control" id="bm-desc" required="" autocomplete="off" formControlName="description" required></textarea>
         </div>
         <div class="row">
         <div class="form-group col mb-0">
            <label>Group</label>
            <select class="js-example-basic-single form-select" id="bm-group">
               <option value="bookmark">My Bookmarks</option>
            </select>
         </div>
         <div class="form-group col mb-0">
            <label>Collection</label>
            <select class="js-example-disabled-results form-select" id="bm-collection" formControlName="collection" required>
               <option value="general">General</option>
               <option value="fs">fs</option>
            </select>
         </div>
         </div>
      </div>
      <input id="index_var" type="hidden" value="6">
      <button class="btn btn-secondary" id="Bookmark" type="submit">Save</button>
      <button class="btn btn-primary ms-2" type="button" (click)="activeModal.dismiss()">Cancel</button>
   </form>
   </div>
</div>
     
 