<div class="container-fluid list-products">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive product-table">
            <form>

              <div class="mb-3 row">
                <div class="col-lg-12 col-12 p-2">
                  <div class="d-flex justify-content-between">
                    <!-- <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label> -->
                    <div class="col-xs-3 col-sm-auto mx-3">
                      <input id="table-complete-search" placeholder="Search" class="form-control" name="searchTerm">
                    </div>
                    <!-- <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span> -->
                    <div class="mx-3">
                      <button type="button" class="btn btn-dark ms-3"  #addTask (click)="addData()">
                        <i class="bi bi-plus-lg"></i>
                        Add User</button>
                    </div>
                  </div>
                </div>
              </div>

              <table class="display dataTables_wrapper no-footer table" id="basic-1">
                <thead>
                  <tr>

                    <th class="sorting_asc" scope="col">Sr no.</th>
                    <th class="sorting_asc" scope="col">Product Image</th>
                    <th class="sorting_asc" scope="col">Category Name</th>
                    <th class="sorting_asc" scope="col">Product Name</th>
                    <th class="sorting_asc" scope="col">Product Qty</th>
                    <th class="sorting_asc" scope="col">Product Unit</th>
                    <th class="sorting_asc" scope="col">Product Price</th>
                    <th class="sorting_asc" scope="col">Product Description</th>
                    <th class="sorting_asc" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="odd" *ngFor="let data of  getData()| filter :searchText ; let id=index">
                    <td class="sorting_1">{{id+1}}</td>
                    <td class="sorting_1"><img src="{{data.productImage}}" alt="" srcset="">  </td>
                    <td class="sorting_1">{{data.category?.categoryName}}</td>
                    <td class="sorting_1">{{data.productName}}</td>
                    <td class="sorting_1">{{data.productQty}}</td>
                    <td class="sorting_1">{{data.productUnit}}</td>
                    <td class="sorting_1">{{data.productPrice}}</td>
                    <td class="sorting_1">{{data.productDescription}}</td>
                    <td class="sorting_1">
                      <button  (click)="openEditModal(data.productId, template , true)"class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                        title="">Delete</button>
                      <button (click)="deleteProductById(data.productId)" class="btn btn-primary btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                        title="">Edit</button>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
              <div class="row">
                <div class="col-lg-6 py-2">
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label">Records per page:</label>
                    </div>
                    <div class="col-auto px-2">
                      <select class="form-control" id="countPerPage" [(ngModel)]="itemsPerPage"
                        (ngModelChange)="updateCurrentPage(1)">
                        <option selected value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                      </select>
                    </div>
                  </div>
                </div>
      
                <div class="py-2 col-lg-6 d-flex justify-content-end">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-success">
                      <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="currentPage = currentPage - 1" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                      <li class="page-item " *ngFor="let page of getPages()">
                        <a class="page-link" [class.active]="currentPage === page" (click)="currentPage = page" href="javascript:void(0)">{{ page
                        }}</a></li>
                      <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                        <a class="page-link"  (click)="currentPage = currentPage + 1" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- <div class="d-flex justify-content-between mt-2">
                <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="10">100 items per page</option>
                </select>
                <ngb-pagination class="ms-3" [collectionSize]="(total$ | async)!" [(page)]="service.page"
                  [pageSize]="service.pageSize">
                </ngb-pagination>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Product</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <form [formGroup]="productForm" id="productForm" (ngSubmit)="submitForm()">
      <div class="modal-body">

        <div class="container ">
          <div class="row">
            <div class="col">
              <label class="my-2" for="categoryId">Category</label>
              <select formControlName="categoryId" class="form-select form-control" id="bootstrap-notify-icon"
                [(ngModel)]="selectedcategoryId" (change)="changecategoryId()" name="categoryId">
                <option *ngFor="let item of categoryDetails" [ngValue]="item.categoryId">
                  {{item.categoryName}}
                </option>
              </select>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="my-2" id="productName" for="productName">Product Name:</label>
                <input type="text" formControlName="productName" class="form-control" placeholder=""
                  [ngClass]="{ 'is-invalid': productForm.get('productName')?.touched && productForm.get('productName')?.invalid }" />
                <div *ngIf="productForm.get('productName')?.touched && productForm.get('productName')?.invalid"
                  class="invalid-feedback">
                  Product Name is required.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container ">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="my-2" id="productQty" for="productQty">Product Quantity:</label>
                <input type="text" formControlName="productQty" class="form-control" placeholder=""
                  [ngClass]="{ 'is-invalid': productForm.get('productQty')?.touched && productForm.get('productQty')?.invalid }" />

                <div *ngIf="productForm.get('productQty')?.touched && productForm.get('productQty')?.invalid"
                  class="invalid-feedback">
                  Product Quantity is required.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="my-2" id="productUnit" for="productUnit">Product Unit:</label>
                <input type="text" formControlName="productUnit" class="form-control" placeholder=""
                  [ngClass]="{ 'is-invalid': productForm.get('productUnit')?.touched && productForm.get('productUnit')?.invalid }" />
                <div *ngIf="productForm.get('productUnit')?.touched && productForm.get('productUnit')?.invalid"
                  class="invalid-feedback">
                  Product Unit is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container ">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="my-2" id="productPrice" for="productPrice">Product Price:</label>
                <input type="number" formControlName="productPrice" class="form-control" placeholder=""
                  [ngClass]="{ 'is-invalid': productForm.get('productPrice')?.touched && productForm.get('productPrice')?.invalid }" />
                <div *ngIf="productForm.get('productPrice')?.touched && productForm.get('productPrice')?.invalid"
                  class="invalid-feedback">
                  Product Price is required.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="my-2" id="discount" for="discount">Discount:</label>
                <input type="text" formControlName="discount" class="form-control" placeholder=""
                  [ngClass]="{ 'is-invalid': productForm.get('discount')?.touched && productForm.get('discount')?.invalid }" />
                <div *ngIf="productForm.get('discount')?.touched && productForm.get('discount')?.invalid"
                  class="invalid-feedback">
                  discount is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="my-2" id="deliveryCharges" for="Delivery Charges">Delivery Charges:</label>
                <input type="number" formControlName="deliveryCharges" class="form-control" placeholder=""
                  [ngClass]="{ 'is-invalid': productForm.get('deliveryCharges')?.touched && productForm.get('deliveryCharges')?.invalid }" />
                <div
                  *ngIf="productForm.get('deliveryCharges')?.touched && productForm.get('deliveryCharges')?.invalid"
                  class="invalid-feedback">
                  deliveryCharges is required.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="my-2" id="productForm" for="productDescription">Product Description:</label>
                <input type="text" formControlName="productDescription" class="form-control" placeholder=""
                  [ngClass]="{ 'is-invalid': productForm.get('productDescription')?.touched && productForm.get('productDescription')?.invalid }" />
                <div
                  *ngIf="productForm.get('productDescription')?.touched && productForm.get('productDescription')?.invalid"
                  class="invalid-feedback">
                  Product Description is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container ">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="my-2" for="productImage">Product Image:</label>
                <!-- <input type="file" (change)="uploadProductImage($event)" multiple placeholder="Product Image" />
                <img *ngIf="uploadedImageUrl" [src]="uploadedImageUrl" #productImageInput  alt="Product Image"> -->

                <input type="file" (change)="uploadProductImage($event)" multiple placeholder="Product Image" 
                [ngClass]="{ 'is-invalid': productForm.get('productImage')?.touched && productForm.get('productImage')?.invalid }"/>
                <img *ngIf="productImageSrc" [src]="productImageSrc" alt="Product Image" class="img-fluid w-25 text-center m-2" />
              </div>
              <div
                  *ngIf="productForm.get('productImage')?.touched && productForm.get('productImage')?.invalid"
                  class="invalid-feedback">
                  product Image is required.
                </div>
            </div>
          </div>
        </div>

     
        <div class="modal-footer">
          <button *ngIf="!isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()"  (click)="createProduct()">Submit</button>
          <button *ngIf="isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()" [disabled]="productForm.invalid"
            (click)="updateProductByProductId()">Update</button>
        </div>
      </div>
    </form>

  </ng-template>


</div>

</div>
















