<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header pb-0">
              </div>
              <div class="card-body">
                  <form class="needs-validation" [formGroup]="userForm" novalidate
                      [ngClass]="{'was-validated': validate}">
                      <div class="row g-3">
                          <div class="col-md-3">
                              <label class="form-label" for="validationCustom01"> First Name</label>
                              <input class="form-control" id="validationCustom01" formControlName="firstName" type="text"
                                  placeholder="firstName" required="" onlyAlphabets>
                              <div class="valid-feedback">Looks good!</div>
                              <div class="invalid-feedback">Please enter your First Name.</div>
                          </div>
                          <div class="col-md-3">
                              <label class="form-label" for="validationCustom02">Last Name</label>
                              <input class="form-control" id="validationCustom02" formControlName="lastName"
                                  type="text" placeholder="Last Name" required="" onlyAlphabets>
                              <div class="valid-feedback">Looks good!</div>
                              <div class="invalid-feedback">Please enter your Last Name.</div>
                          </div>
                          <div class="col-md-3 mb-3">
                              <label class="form-label" for="validationCustomUsername">Email</label>
                              <div class="input-group">
                                  <input class="form-control" id="validationCustomUsername" type="email"
                                      placeholder="email" formControlName="email"
                                       required="">
                                  <div class="invalid-feedback">Please enter email.</div>
                                  <div class="valid-feedback">Looks good!</div>
                              </div>
                          </div>
                          <div class="col-md-3 mb-3">
                              <label class="form-label" for="validationCustom04">Mobile No</label>
                              <div class="input-group">
                                  <input class="form-control" id="validationCustom04" type="number"
                                      placeholder="mobileNo" formControlName="mobileNo"
                                       required="">
                                  <div class="invalid-feedback">Please enter Mobile No.</div>
                                  <div class="valid-feedback">Looks good!</div>
                              </div>
                          </div>
                          <div class="col-md-3 mb-3">
                              <label class="form-label" for="validationCustom04">Password</label>
                              <div class="input-group">
                                  <input class="form-control" id="validationCustom04" type="text"
                                      placeholder="password" formControlName="password"
                                       required="">
                                  <div class="invalid-feedback">Please enter password.</div>
                                  <div class="valid-feedback">Looks good!</div>
                              </div>
                          </div>
                          <div class="col-md-3 mb-3">
                              <label class="form-label" for="validationCustom04">Image url </label>
                              <div class="input-group">
                                  <input class="form-control" id="validationCustom04" type="text"
                                      placeholder="profileImage" formControlName="profileImage"
                                       required="">
                                  <div class="invalid-feedback">Please select profileImage</div>
                                  <div class="valid-feedback">Looks good!</div>
                              </div>
                          </div>
                      </div>


                      <button class="btn btn-primary " type="button" (click)="submit()"
                          *ngIf="showSubmitButton==true">Submit
                          form</button>
                      <button class="btn btn-primary " type="button" (click)="updateExpertProfileList()"
                          *ngIf="showSubmitButton==true">Update
                          form</button>
                  </form>
              </div>
          </div>

      </div>


  </div>
</div>





<!-- <div class="container-fluid user-card">
  <div class="row">
    <ng-container *ngFor="let user of userData1">
      <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
        <div class="card custom-card">
          <div class="card-header"><img class="img-fluid" src="../../../../assets/images/banner/1.jpg" alt=""></div>
          <div class="card-profile"><img class="rounded-circle" src="../../../../assets/images/dashboard/1.png" alt="">
          </div>
          <ul class="card-social">
            <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://dashboard.rss.com/auth/sign-in"><i class="fa fa-rss"></i></a></li>
          </ul>
          <div class="text-center profile-details" (click)=" goToUserProfile(user)" role="button"><a>
              <h4>{{user.name}} {{user.surname}}</h4>
            </a>
            <h6>Manager</h6>
          </div>
          <div class="card-footer row">
            <div class="col-7 col-sm-7">
              <h6>Email ID</h6>
              <h5 class="counter">{{user.emailID}}</h5>
            </div>
            <div class="col-5 col-sm-5">
              <h6>Mobile No</h6>
              <h5 class="counter">{{user.mobileNo}}</h5>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div> -->