 
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6">
         <div class="card">
            <div class="card-header pb-0">
               <h5>Basic Tree</h5>
            </div>
            <div class="card-body"> 
              <tree-root #tree [nodes]="nodes"></tree-root>
            </div>
         </div>
     </div>
     <div class="col-sm-6">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Checkbox Tree</h5>
         </div>
         <div class="card-body">
          <tree-root #tree
          id="tree1"
          [nodes]="nodes"
          [options]="options">
        </tree-root>
         </div>
       </div>
     </div>
   </div>
 </div>