<div class="container-fluid dashboard-default-sec">
    <div class="row">
      <!-- <div class="col-xl-5 box-col-12 des-xl-100"> 
       <app-profile-greeting></app-profile-greeting>
      </div>
      <div class="col-xl-7 box-col-12 des-xl-100 dashboard-sec">
       <app-income-card></app-income-card>
      </div> -->
      <!-- <div class="col-xl-8 box-col-12 des-xl-100">
       <app-activity-section></app-activity-section>
      </div> -->
      <!-- <div class="col-xl-4 box-col-12 des-xl-100">
       <app-recent-order></app-recent-order>
      </div> -->
      <div>
        <div class="d-flex flex-wrap">
          <ng-container *ngFor="let eachItem of arrayCards">
            <div class="mx-0 col-6 col-sm-4 col-lg-3 col-xl-2">
              <div class="m-1">
                <div class="d-flex flex-column align-items-start text-white p-4 rounded-0 bg-sidebar text-white">
                  <div  *ngIf="eachItem.count !== undefined">
                    <h5>{{eachItem.count}}</h5>
                  </div>
                  <div>
                    <p>{{eachItem.label}}</p>
                  </div>
                  <div>
                    <a [routerLink]="[eachItem.url]" routerLinkActive="nav-list-active"
                      class="text-white text-decoration-none">
                      More info <i class="icon-arrow-right ms-2"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- <pre>{{DashboardCountDetails.count|json}}</pre> -->