<div class="card employee-status">
    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
        <h5>EMPLOYEE STATUS</h5>
    </div>
    <div class="card-body">
        <div class="user-status table-responsive">
            <table class="table table-bordernone">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Skill Level</th>
                        <th scope="col">Experience</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of EmployeeStatusData">
                        <td class="bd-t-none u-s-tb">
                            <div class="align-middle image-sm-size"><img
                                    class="img-radius align-top m-r-15 rounded-circle"
                                    src="{{data.img}}" alt="">
                                <div class="d-inline-block">
                                    <h6>{{data.name}} <span class="text-muted">{{data.status}}</span></h6>
                                </div>
                            </div>
                        </td>
                        <td>{{data.skill}}</td>
                        <td>
                            <div class="progress-showcase">
                                <div class="progress" style="height: 8px;">
                                    <div class="progress-bar {{data.processbar}}" role="progressbar"
                                        [ngStyle]={width:data.widthbar} aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </td>
                        <td>{{data.exp}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>