 
<div class="container-fluid">
   <div class="email-wrap bookmark-wrap">
     <div class="row">
       <div class="col-xl-3 box-col-4 xl-30">
         <app-task-filter></app-task-filter>
       </div>
       <div class="col-xl-9 col-md-12 box-col-8 xl-70">
         <app-task-tab></app-task-tab>
       </div>
     </div>
   </div>
 </div>