<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header pb-0">
                    7/12 Details
                </div> -->
                <div class="card-body">
                    <form class="needs-validation" [formGroup]="productForm" novalidate
                        [ngClass]="{'was-validated': validate}">
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label" for="validationCustom01">Product Type</label>
                                <select class="form-select" formControlName="productType"
                                    aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="milk">Milk</option>
                                    <option value="veg">Vegetables</option>
                                    <option value="terr">Terrace Garden</option>
                                    <option value="food">Food & Grocery</option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please choose a Product Type.</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="validationCustom02">Product Name</label>
                                <select class="form-select" formControlName="productName"
                                    aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="paneer">Paneer</option>
                                    <option value="bendi">Bendi</option>
                                    <option value="banana">Banana</option>
                                    <option value="rose">Rose</option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please choose a Product Name.</div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label" for="validationCustomUsername">Product Qty</label>
                                <div class="input-group">
                                    <select class="form-select" formControlName="productQty"
                                        aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">1</option>
                                        <option value="10">10</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    <div class="invalid-feedback">Please choose a Product Qty.</div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 pb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="validationCustom03">Product Unit</label>
                                <select class="form-select" formControlName="productUnit"
                                    aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="kg">KG</option>
                                    <option value="liter">Liter</option>
                                    <option value="gram">Gram</option>
                                    <option value="judi">Judi</option>
                                    <option value="plants">Plants in No</option>
                                </select>
                                <div class="invalid-feedback">Please provide a Product Unit.</div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                        </div>

                        <button class="btn btn-primary " type="button" (click)="submit()"
                            [disabled]="productForm.invalid" *ngIf="showSubmitButton==true">Submit
                            form</button>
                        <button class="btn btn-primary " type="button" (click)="updateProductList()"
                            [disabled]="productForm.invalid" *ngIf="showSubmitButton==false">Update
                            form</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Expert Profile Data</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive data-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product Type</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Qty</th>
                                    <th scope="col">Product Unit</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody *ngFor="let item of productData">
                                <tr>
                                    <th scope="row">{{item.productType}}</th>
                                    <td>{{item.productName}}</td>
                                    <td>{{item.productQty}}</td>
                                    <td>{{item.productUnit}}</td>
                                    <td>
                                        <i class="fa fa-edit fs-5 px-2" (click)="edit(item)"></i>
                                        <i class="fa fa-trash-o px-2 fs-5" (click)="deleteProductList(item._id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>