<div class="card">
   <div class="card-header">
    <h5>Pie Chart 1</h5>
   </div>
   <div class="card-body p-0 chart-block">
     <div class="chart-overflow">
      <google-chart [data]="pieChart1"></google-chart>
     </div>
   </div>
 </div>