 
<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12 col-xl-6 col-lg-12 col-md-6">
       <app-basic-switch></app-basic-switch>
     </div>
     <div class="col-sm-12 col-xl-6 col-lg-12 col-md-6">
       <app-basic-color></app-basic-color>
     </div>
     <div class="col-sm-12 col-xl-6 col-lg-12 col-md-6">
       <app-switch-outline></app-switch-outline>
     </div>
     <div class="col-sm-12 col-xl-6 col-lg-12 col-md-6">
       <app-switch-unchecked-outline></app-switch-unchecked-outline>
     </div>
     <div class="col-sm-12 col-xl-4">
      <app-switch-sizing></app-switch-sizing>
     </div>
     <div class="col-sm-12 col-xl-4">
       <app-switch-with-icon></app-switch-with-icon>
     </div>
     <div class="col-sm-12 col-xl-4">
      <app-switch-with-color></app-switch-with-color>  
     </div>
   </div>
 </div>