<ul class="sidebar-type layout-grid layout-types">
  <li
    class="defaul-layout"
    [routerLink]="['/dashboard/default']"
    [queryParams]="{ layout: false }"
  >
    <div class="layout-img">
      <a>
        <img
          src="assets/images/landing/demo/1.jpg"
          alt=""
          style="width: 100%"
        />
      </a>
      <h6>Default layout</h6>
    </div>
  </li>
  <li
    class="compact-layout"
    [routerLink]="['/dashboard/default']"
    [queryParams]="{ layout: 'compact-layout' }"
  >
    <div class="layout-img">
      <a>
        <img
          src="assets/images/landing/demo/2.jpg"
          alt=""
          style="width: 100%"
        />
      </a>
      <h6>Compact layout</h6>
    </div>
  </li>
  <li
    class="modern-layout"
    [routerLink]="['/dashboard/default']"
    [queryParams]="{ layout: 'modern-layout' }"
  >
    <div class="layout-img">
      <a>
        <img
          src="assets/images/landing/demo/3.jpg"
          alt=""
          style="width: 100%"
        />
      </a>
      <h6>Modern layout</h6>
    </div>
  </li>
</ul>
