<div class="card">
   <div class="card-header pb-0">
     <h5>Animating a Donut with Svg.animate</h5>
   </div>
   <div class="card-body">
     <div class="ct-8 flot-chart-container">
      <x-chartist [configuration]="chart3" ></x-chartist>
     </div>
   </div>
 </div>