<div class="card">
   <div class="card-header pb-0">
     <h5>Bi-polar bar chart</h5>
   </div>
   <div class="card-body">
     <div class="ct-9 flot-chart-container">
      <x-chartist [configuration]="chart6" ></x-chartist>
     </div>
   </div>
 </div>