<div class="card">
   <div class="card-header pb-0">
     <h5>Stacked bar chart</h5>
   </div>
   <div class="card-body">
     <div class="ct-10 flot-chart-container">
      <x-chartist  [configuration]="chart7" ></x-chartist>
     </div>
   </div>
 </div>