<div class="container-fluid list-products">
    <div class="row">
        <!-- Individual column searching (text inputs) Starts-->
        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header pb-0">
                <h5>Role's Details</h5>
              </div> -->
                <div class="m-2 row justify-content-end">
                    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                            placeholder="search" [(ngModel)]="searchText" autocomplete="off">
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <table class="table-hover table invoice-table dataTables_wrapper table-bordered">
                            <thead>
                                <tr>
                                    <th>user Id</th>
                                    <!-- <th>order Id</th> -->
                                    <th>Order Status</th>
                                    <th>Paid Amount</th>
                                    <th>Remaining Amount</th>
                                    <th>Status</th>
                                    <th>Total Amount</th>
                                    <!-- <th>Address</th> -->
                                    <th>Products</th>
                                    <th>Currency</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of getData() | filter :searchText; let id=index">
                                <tr>
                                    <td>{{item.userId.userId}}</td>
                                    <!-- <td >{{item.orderId}}</td> -->
                                    <td>{{item.orderStatus}}</td>
                                    <td>{{item.paidAmount}}</td>
                                    <td>{{item.remainingAmount}}</td>
                                    <td>{{item.status}}</td>
                                    <td>{{item.totalAmount}}</td>
                                    <!-- <td>
                                      
                                        {{ item.address.firstName }} {{ item.address.lastName }}<br>
                                        {{ item.address.mobileNo }}<br>
                                        {{ item.address.addressType }}<br>
                                        {{ item.address.address }}<br>
                                        {{ item.address.state }}<br>
                                        {{ item.address.pincode }}<br>
                                        {{ item.address.locality }}<br>
                                        {{ item.address.city }}<br>
                                    </td> -->
                                    <td>
                                        <ul>
                                            <li *ngFor="let product of item.products.cart">
                                                Product Name: {{ product.product.productName }}<br>
                                                Quantity: {{ product.qty }}<br>
                                                Subtotal: {{ product.product.subTotal }}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>{{item.currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 py-2">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="inputPassword6" class="col-form-label">Records per page:</label>
                                </div>
                                <div class="col-auto px-2">
                                    <select class="form-control" id="countPerPage" [(ngModel)]="itemsPerPage"
                                        (ngModelChange)="updateCurrentPage(1)">
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="25">25</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="py-2 col-lg-6 d-flex justify-content-end">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-primary">
                                    <li class="page-item" [class.disabled]="currentPage === 1">
                                        <a class="page-link" (click)="currentPage = currentPage - 1"
                                            href="javascript:void(0)" aria-label="Previous"><span
                                                aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                                    </li>
                                    <li class="page-item" *ngFor="let page of getPages()">
                                        <a class="page-link" [class.active]="currentPage === page"
                                            (click)="currentPage = page" href="javascript:void(0)">{{ page
                                            }}</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                                        <a class="page-link" (click)="currentPage = currentPage + 1"
                                            href="javascript:void(0)" aria-label="Next"><span
                                                aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>




        <!-- <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Individual column searching (text inputs) </h5><span></span>
                </div>
                <div class="card-body">
                    <div class="mb-3 row justify-content-end">
                        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
                        <div class="col-xs-3 col-sm-auto">
                            <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                                [(ngModel)]="searchText" autocomplete="off">
                        </div>
                    </div>
                    <div class="table-responsive  own-table">
                        <table class="table-hover table invoice-table dataTables_wrapper " id="basic-1">
                            <thead>
                                <tr>
                                    <th class="sorting_asc" scope="col">ID</th>
                                    <th class="sorting_asc" scope="col">Role Id</th>
                                    <th class="sorting_asc" scope="col">Role Name</th>
                                    <th class="sorting_asc" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd" *ngFor="let item of roleDetails">
                                    <td class="sorting_1">{{item.id}}</td>
                                    <td class="sorting_1">{{item.roleId}}</td>
                                    <td class="sorting_1">{{item.roleName}}</td>
                                    <td class="sorting_1"> <button class="btn btn-primary btn-xs" type="button"
                                            data-original-title="btn btn-danger btn-xs" title=""
                                            (click)="edit(item)">Edit</button>
                                        <button class="btn btn-danger btn-xs " type="button"
                                            data-original-title="btn btn-danger btn-xs" title=""
                                            (click)="deleteExpertProfileList(item.id)">Delete</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <select class="form-select" style="width: auto" name="pageSize"
                            (change)="getAllRoleList()" [(ngModel)]="pagination.limit">
                            <option [ngValue]="5">5 items per page</option>
                            <option [ngValue]="10">10 items per page</option>
                            <option [ngValue]="25">25 items per page</option>
                            <option [ngValue]="50">50 items per page</option>
                            <option [ngValue]="100">100 items per page</option>
                        </select>
                        <ngb-pagination class="ms-3" [collectionSize]="pagination.totalCount"
                            [(page)]="pagination.currentPage" [pageSize]="pagination.limit"
                            (pageChange)="getAllRoleList()">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>