<div class="row">
  <ng-container *ngFor="let faq of FaqTopPart">
    <div class="col-xl-4 {{faq.colClass}}">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="media faq-widgets">
            <div class="media-body">
              <h4>{{faq.title}}</h4>
              <p>{{faq.dace}}</p>
            </div>
            <app-feather-icons [icon]=faq.icon></app-feather-icons>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
