
<div class="container-fluid px-4">
    <div class="row my-2">
        <div class="col-lg-8 col-12 p-2"></div>
        <div class="col-lg-4 col-12 p-2 d-flex justify-content-end">
         <button type="button" class="btn btn-dark ms-3" #addTask (click)="openModal(template, false)">
              <i class="bi bi-plus-lg"></i>
            Add Farmer</button>
        </div>
    </div>

    <div class="col-sm-12">
      <div class="card">
        <!-- <div class="card-header pb-0">
          <h5>Farmer's Details</h5>
        </div> -->
        <div class="m-2 row justify-content-end">
          <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
          <div class="col-xs-3 col-sm-auto">
            <input id="table-complete-search" type="text" class="form-control" name="searchTerm" placeholder="search"
              [(ngModel)]="searchText" autocomplete="off">
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive ">
            <table class="table-hover table invoice-table dataTables_wrapper table-bordered">
              <thead>
                <tr>
                  <th>Sr no.</th>
                  <th>Full Name</th>
                  <th>Land Details</th>
                  <th>Location</th>
                  <th>Google Map</th>
                  <th>Dimensions</th>
                  <th>Farm Supervisor Name</th>
                  <th>Contact No</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let data of  getData() | filter :searchText; let id=index">
                <tr>
                  <td >{{id+1}}</td>
                  <td >{{data.fullName}}</td>
                  <td >{{data.landDetails}}</td>
                  <td >{{data.location}}</td>
                  <td >{{data.googleMap}}</td>
                  <td >{{data.dimensions}}</td>
                  <td >{{data.farmSupervisorName}}</td>
                  <td >{{data.contactNo}}</td>
                  <td>  
                   <div>
                    <i (click)="openEditModal(data.id, template, true)" role="button" class="fa fa-edit fs-5 px-2"></i>
                
                    <i class="fa fa-trash-o px-2 fs-5" role="button" (click)="deleteFarmerDetailsById(data.id)"></i>
                   </div>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-lg-6 py-2">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Records per page:</label>
                    </div>
                    <div class="col-auto px-2">
                        <select class="form-control" id="countPerPage" [(ngModel)]="itemsPerPage"
                            (ngModelChange)="updateCurrentPage(1)">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="py-2 col-lg-6 d-flex justify-content-end">
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-primary">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="currentPage = currentPage - 1"
                            href="javascript:void(0)" aria-label="Previous"><span
                                aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                    </li>
                    <li class="page-item" *ngFor="let page of getPages()">
                        <a class="page-link" [class.active]="currentPage === page"
                            (click)="currentPage = page" href="javascript:void(0)">{{ page
                            }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                        <a class="page-link" (click)="currentPage = currentPage + 1"
                            href="javascript:void(0)" aria-label="Next"><span
                                aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
        </div>
      </div>
    </div>


<!--   
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header pb-0">
          <h5>Farmer Details</h5>
      </div>
    <div class="card-body own-table" (window:resize)="adjustTableHeight()">
        <table class="table-hover table invoice-table dataTables_wrapper">
            <thead>
                <tr class="tableHeader">
                  <th class="sorting_asc" scope="col">Sr no.</th>
                  <th class="sorting_asc" scope="col">Full Name</th>
                  <th class="sorting_asc" scope="col">Land Details</th>
                  <th class="sorting_asc" scope="col">Location</th>
                  <th class="sorting_asc" scope="col">Google Map</th>
                  <th class="sorting_asc" scope="col">Dimensions</th>
                  <th class="sorting_asc" scope="col">Farm Supervisor Name</th>
                  <th class="sorting_asc" scope="col">Contact No</th>
                  <th class="sorting_asc" scope="col">Action</th>
                 
                </tr>
            </thead>
  
            <tbody>
              <tr  *ngFor="let data of farmerDetials; let id=index">
                <td >{{id+1}}</td>
                <td >{{data.fullName}}</td>
                <td >{{data.landDetails}}</td>
                <td >{{data.location}}</td>
                <td >{{data.googleMap}}</td>
                <td >{{data.dimensions}}</td>
                <td >{{data.farmSupervisorName}}</td>
                <td >{{data.contactNo}}</td>
                <td>  
                 <div>
                  <i (click)="openEditModal(data.id, template)" role="button" class="fa fa-edit fs-5 px-2"></i>
              
                  <i class="fa fa-trash-o px-2 fs-5" role="button" (click)="deleteFarmerDetailsById(data.id)"></i>
                 </div>
            </td>
              </tr>
            </tbody>
        </table>
    </div>
    </div>
  </div> -->
  
   
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Farmer</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="modal-body">

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="my-2" for="fullName">Full Name :</label>
              <input type="text" formControlName="fullName" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('fullName')?.touched && userForm.get('fullName')?.invalid }"/>
              <div *ngIf="userForm.get('fullName')?.touched && userForm.get('fullName')?.invalid"
                  class="invalid-feedback">
                  Full Name  is required.
              </div>
          </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="my-2" for="landDetails">Land Details :</label>
              <input type="text" formControlName="landDetails" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('landDetails')?.touched && userForm.get('landDetails')?.invalid }"
                   />
  
              <div *ngIf="userForm.get('landDetails')?.touched && userForm.get('landDetails')?.invalid"
                  class="invalid-feedback">
                  Land Details  is required.
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="my-2" for="ocation">Location :</label>
              <input type="text" formControlName="location" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('location')?.touched && userForm.get('location')?.invalid }"/>
              <div *ngIf="userForm.get('location')?.touched && userForm.get('location')?.invalid"
                  class="invalid-feedback">
                  Location  is required.
              </div>
          </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="my-2" for="googleMap">Google Map :</label>
              <input type="text" formControlName="googleMap" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('googleMap')?.touched && userForm.get('googleMap')?.invalid }"/>
              <div *ngIf="userForm.get('googleMap')?.touched && userForm.get('googleMap')?.invalid"
                  class="invalid-feedback">
                  Google Map  Name is required.
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="my-2" for="dimensions">Dimensions :</label>
              <input type="number" formControlName="dimensions" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('dimensions')?.touched && userForm.get('dimensions')?.invalid }"/>
              <div *ngIf="userForm.get('dimensions')?.touched && userForm.get('dimensions')?.invalid"
                  class="invalid-feedback">
                  Dimensions  is required.
              </div>
          </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="my-2" for="farmSupervisorName">Farm  Supervisor Name :</label>
              <input type="text" formControlName="farmSupervisorName" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('farmSupervisorName')?.touched && userForm.get('farmSupervisorName')?.invalid }"/>
              <div *ngIf="userForm.get('farmSupervisorName')?.touched && userForm.get('farmSupervisorName')?.invalid"
                  class="invalid-feedback">
                  FarmSupervisor Name  is required.
              </div>
          </div>
          </div>
        </div>
      </div>

      <div class="container ">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="my-2" for="contactNo">Contact No :</label>
              <input type="number" formControlName="contactNo" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('contactNo')?.touched && userForm.get('contactNo')?.invalid }"/>
              <div *ngIf="userForm.get('contactNo')?.touched && userForm.get('contactNo')?.invalid"
                  class="invalid-feedback">
                  Contact No is required.
              </div>
          </div>
          </div>
        </div>
      </div>
          
          <!-- <div class="row">
            <div class="col px-2 mb-3">
              <div class="form-group">
                  <label class="my-2" for="fullName">Full Name:</label>
                  <input type="text" formControlName="fullName" class="form-control"
                      [ngClass]="{ 'is-invalid': userForm.get('fullName')?.touched && userForm.get('fullName')?.invalid }"/>
                  <div *ngIf="userForm.get('fullName')?.touched && userForm.get('fullName')?.invalid"
                      class="invalid-feedback">
                      Full Name  is required.
                  </div>
              </div>
          </div>
          <div class="col px-2 mb-3">
            <div class="form-group">
              <label class="my-2" for="landDetails">Land Details:</label>
              <input type="text" formControlName="landDetails" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('landDetails')?.touched && userForm.get('landDetails')?.invalid }"
                   />
  
              <div *ngIf="userForm.get('landDetails')?.touched && userForm.get('landDetails')?.invalid"
                  class="invalid-feedback">
                  Land Details  is required.
              </div>
          </div>
          
            
        </div>
  
  
          <div class="row">
            <div class="col px-2 mb-3">
              <div class="form-group">
                <label class="my-2" for="ocation">Location:</label>
                <input type="text" formControlName="location" class="form-control"
                    [ngClass]="{ 'is-invalid': userForm.get('location')?.touched && userForm.get('location')?.invalid }"/>
                <div *ngIf="userForm.get('location')?.touched && userForm.get('location')?.invalid"
                    class="invalid-feedback">
                    Location  is required.
                </div>
            </div>
            </div>
            <div class="col px-2">
                <div class="form-group">
                    <label class="my-2" for="googleMap">Google Map:</label>
                    <input type="text" formControlName="googleMap" class="form-control"
                        [ngClass]="{ 'is-invalid': userForm.get('googleMap')?.touched && userForm.get('googleMap')?.invalid }"/>
                    <div *ngIf="userForm.get('googleMap')?.touched && userForm.get('googleMap')?.invalid"
                        class="invalid-feedback">
                        Google Map  Name is required.
                    </div>
                </div>
            </div>
            </div>
          </div>
  
        <div class="row">
          <div class="col-6 px-2 mb-3">
            <div class="form-group">
              <label class="my-2" for="dimensions">Dimensions:</label>
              <input type="number" formControlName="dimensions" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('dimensions')?.touched && userForm.get('dimensions')?.invalid }"/>
              <div *ngIf="userForm.get('dimensions')?.touched && userForm.get('dimensions')?.invalid"
                  class="invalid-feedback">
                  Dimensions  is required.
              </div>
          </div>
  </div>
          <div class="col-6 px-2 mb-3">
            <div class="form-group">
              <label class="my-2" for="farmSupervisorName">Farm  Supervisor Name:</label>
              <input type="text" formControlName="farmSupervisorName" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('farmSupervisorName')?.touched && userForm.get('farmSupervisorName')?.invalid }"/>
              <div *ngIf="userForm.get('farmSupervisorName')?.touched && userForm.get('farmSupervisorName')?.invalid"
                  class="invalid-feedback">
                  FarmSupervisor Name  is required.
              </div>
          </div>
          </div>

          <div class="col-6 px-2 mb-3">
            <div class="form-group">
              <label class="my-2" for="contactNo">Contact No:</label>
              <input type="number" formControlName="contactNo" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('contactNo')?.touched && userForm.get('contactNo')?.invalid }"/>
              <div *ngIf="userForm.get('contactNo')?.touched && userForm.get('contactNo')?.invalid"
                  class="invalid-feedback">
                  Contact No is required.
              </div>
          </div>
          </div>
  </div> -->
          <div class="modal-footer">
            <button *ngIf="!isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()" [disabled]="userForm.invalid" (click)="createFarmerDetailsprofile()">Submit</button>
            <button *ngIf="isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()" [disabled]="userForm.invalid" (click)="updateDetailstProfileById()">Update</button>
          </div>
        </div>
        </form>
  </ng-template>
  
  
  </div>
  
  
  
  
  
  