<div class="card">
   <div class="card-header pb-0">
     <h5>Bar chart</h5>
   </div>
   <div class="card-body">
     <div id="basic-bar">
      <apx-chart 
        [chart]="barChart.chart"
        [plotOptions]="barChart.plotOptions"
        [dataLabels]="barChart.dataLabels"
        [series]="barChart.series"
        [xaxis]="barChart.xaxis"
        [colors]="barChart.colors">
        </apx-chart>
     </div>
   </div>
 </div>