<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-headings></app-headings>
    </div>
    <ng-container *ngFor="let typo of typography">
      <div class="col-sm-12 col-xl-4 box-col-6">
        <div class="card">
          <div class="card-header pb-0">
            <h5>{{typo.title}}</h5>
          </div>
          <div class="card-body typography">
            <h1 class="f-w-{{typo.class}}">{{typo.heading1}}</h1>
            <h2 class="f-w-{{typo.class}}">{{typo.heading2}}</h2>
            <h3 class="f-w-{{typo.class}}">{{typo.heading3}}</h3>
            <h4 class="f-w-{{typo.class}}">{{typo.heading4}}</h4>
            <h5 class="f-w-{{typo.class}}">{{typo.heading5}}</h5>
            <h6 class="f-w-{{typo.class}}">{{typo.heading6}}</h6>
          </div>
        </div>
      </div>
     </ng-container>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Headings</h5><span>Use the included utility classes to recreate the small secondary heading text. </span>
        </div>
        <div class="card-body typography">
          <h3>Fancy display heading<small class="text-muted">With faded secondary text</small></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <app-display-heading></app-display-heading>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Lead</h5><span>Make a paragraph stand out by adding <code>.lead</code>.</span>
        </div>
        <div class="card-body">
          <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non
            commodo luctus.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
     <app-text-elements></app-text-elements>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Text Color</h5><span>You can Give text color by using txt-* class</span>
        </div>
        <div class="card-body" >
         <ng-container *ngFor="let color of textColor">
           <p class="{{color.addClass}}">This is {{color.line}} text You can archive this adding <code>.{{color.addClass}}</code> class</p>
         </ng-container>
        </div>
      </div>
    </div>
    <div class="col-sm-12 listing">
     <app-listing-typography></app-listing-typography>
    </div>
    <div class="col-sm-12">
      <app-blockquotes></app-blockquotes>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->