<div class="card">
   <div class="card-header pb-0">
     <h5>Display headings</h5><span>Traditional heading elements are designed to work best in the meat of your page
       content. When you need a heading to stand out, consider using a <strong>display heading</strong>—a larger,
       slightly more opinionated heading style.</span>
   </div>
   <div class="card-body typography">
     <h1 class="display-1">Display 1</h1>
     <h1 class="display-2">Display 2</h1>
     <h1 class="display-3">Display 3</h1>
     <h1 class="display-4">Display 4</h1>
   </div>
 </div>