<div class="card">
   <div class="card-header pb-0">
     <h5>Line chart with area</h5>
   </div>
   <div class="card-body">
     <div class="ct-4 flot-chart-container">
      <x-chartist [configuration]="chart5" ></x-chartist>
     </div>
   </div>
 </div>