<div class="card">
    <div class="card-header">
      <h5 class="mb-0 p-0">
        <button class="btn btn-link" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">Upcoming Courses</button>
      </h5>
    </div>
    <div class="collapse show" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="upcoming-course card-body">
        <ng-container *ngFor="let courses of upcomingCourses" >
          <div class="media">
            <div class="media-body">
              <h5 class="f-w-600">{{courses.title}}</h5>
              <p class="mb-0">Course By <a href="#">{{courses.courseBy}}</a></p>
              <ul class="rating">
                <li><i class="fa fa-star font-warning"></i></li>
                <li><i class="fa fa-star font-warning"></i></li>
                <li><i class="fa fa-star font-warning"></i></li>
                <li><i class="fa fa-star font-warning"></i></li>
                <li><i class="fa fa-star-half-o font-warning"></i></li>
              </ul>
            </div>
            <div>
              <h5 class="mb-0 p-0 font-primary">{{courses.date}}</h5><span class="d-block">{{courses.month}}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>