<div class="card">
   <div class="card-header pb-0">
     <h5>Blockquotes</h5><span>Add a <code>&lt;footer class="blockquote-footer"&gt;</code> for identifying the
       source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.</span>
   </div>
     <div class="card-body">
      <ng-container *ngFor="let i of blockquotes">
         <p class="sub-title">{{i.title}}</p>
         <div class="figure {{i.class}} d-block">
           <blockquote class="blockquote mb-0">
             <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
           </blockquote>
           <div class="blockquote-footer mt-0">Someone famous in 
             <cite title="Source Title">Source Title</cite>
           </div>
         </div>
      </ng-container>
   </div>
 </div>