<div class="container-fluid">
   <div class="email-wrap">
     <div class="row">
       <div class="col-xl-3 box-col-3 col-md-6 xl-30">
        <app-mail-filter></app-mail-filter>
       </div>
       <div class="col-xl-9 box-col-9 col-md-12 xl-70">
         <div class="email-right-aside">
           <div class="card email-body">
             <div class="email-profile">
               <div>
                 <div class="pe-0 b-r-light"></div>
                 <div class="email-top">
                   <div class="row">
                     <div class="col-12">
                       <div class="media">
                         <label class="email-chek d-block">
                           <input class="checkbox_animated" type="checkbox" checked="">
                         </label>
                         <div class="media-body">                                                                                  
                           <div class="dropdown">
                             <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="openMenu()" >Action</button>

                             <div class="dropdown-menu" [class.show]="show"aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="javascript:void(0)">Refresh</a>
                              <a class="dropdown-item" href="javascript:void(0)">Mark as important</a>
                              <a class="dropdown-item" href="javascript:void(0)">Move to span</a>
                              <a class="dropdown-item" href="javascript:void(0)">Move to trush</a></div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="inbox">
                  <ng-container *ngFor="let email of emailData">
                    <div class="media" >
                      <div class="media-size-email">                                       
                        <label class="d-block mb-0">
                          <input class="checkbox_animated" type="checkbox" checked="">
                        </label><i  data-feather="star"></i><img class="me-3 rounded-circle" src="{{email.img}}" alt="">
                      </div>
                      <div class="media-body" routerLink="/email/read-mail">
                        <h6>{{email.name}}</h6>
                        <p>{{email.mailDace}}</p><span>{{email.time}}</span>
                      </div>
                    </div>
                  </ng-container>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</div>