<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="login-card">
                <form class="theme-form login-form" [formGroup]="otpForm">
                    <h4> Enter OTP</h4>
                    <div class="form-group otp-input my-3" >
                        <input #firstInput (input)="checkIfFormValid()"
                            *ngFor="let input of otpInput; index as i"
                            #formRow
                            type="tel"
                            formControlName="{{input}}"
                            class="form-control text-center mx-2"
                            maxlength="1"
                            (keyup)="keyUpEvent($event, i)"
                            style="width: 50px"
                          />
                        </div>
                    <div class="form-group">
                        <button #getOtpButton class="btn btn-primary btn-block" [disabled]="!otpForm.valid" (click)="continue()"
                            type="button">
                            OTP
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>