<div class="card">
  <div
    class="card-header pb-0 d-flex justify-content-between align-items-center"
  >
    <h5>PRODUCTS CART</h5>
  </div>
  <div class="card-body">
    <div class="user-status table-responsive">
      <table class="table table-bordernone">
        <thead>
          <tr>
            <th scope="col">Details</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of widgetsProductData">
            <td class="f-w-600">{{ data.details }}</td>
            <td>{{ data.quantity }}</td>
            <td class="{{ data.colorClass }}">{{ data.status }}</td>
            <td>
              <div class="span badge rounded-pill pill-badge-{{ data.badge }}">
                6523
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
