<div class="col-lg-12">
   <div class="card card-mb-faq xs-mt-search">
     <div class="card-header faq-header">
       <h5 class="ps-0">Search articles</h5><i data-feather="help-circle"></i>
     </div>
     <div class="card-body faq-body">
       <div class="faq-form">
         <input class="form-control" type="text" placeholder="Search.."><i class="search-icon" data-feather="search"></i>
       </div>
     </div>
   </div>
 </div>