<div class="container-fluid list-products">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive product-table">
            <form>

              <div class="mb-3 row">
                <div class="col-lg-12 col-12 p-2">
                  <div class="d-flex justify-content-between">
                    <!-- <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label> -->
                    <div class="col-xs-3 col-sm-auto mx-3">
                      <input id="table-complete-search" placeholder="Search" class="form-control" name="searchTerm"
                        [(ngModel)]="service.searchTerm">
                    </div>
                    <!-- <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span> -->
                    <div class="mx-3">
                      <button type="button" class="btn btn-dark ms-3" #addTask>
                        <i class="bi bi-plus-lg"></i>
                        Add User</button>
                    </div>
                  </div>
                </div>
              </div>

              <table class="display dataTables_wrapper no-footer table" id="basic-1">
                <thead>
                  <tr>

                    <th class="sorting_asc" scope="col">Sr no.</th>
                    <th class="sorting_asc" scope="col">Profile Image</th>
                    <th class="sorting_asc" scope="col">Name</th>
                    <th class="sorting_asc" scope="col">Mobile Number</th>
                    <th class="sorting_asc" scope="col">Email</th>
                    <th class="sorting_asc" scope="col">Role</th>
                    <th class="sorting_asc" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="odd" *ngFor="let item of userDetials ; let id=index">
                    <td class="sorting_1">{{id+1}}</td>
                    <td class="sorting_1"><img src="{{item.profileImage}}"></td>
                    <!-- <td class="sorting_1">{{item.userId}}</td> -->
                    <td class="sorting_1">{{item.firstName}}&nbsp;{{item.lastName}}</td>
                    <td class="sorting_1">{{item.mobileNo}}</td>
                    <td class="sorting_1">{{item.email}}</td>
                    <td class="sorting_1">{{item.role?.roleName}}</td>
                    <td class="sorting_1">
                      <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                        title="">Delete</button>
                      <button class="btn btn-primary btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                        title="">Edit</button>
                    </td>
                  </tr>

                </tbody>
              </table>
              <div class="d-flex justify-content-between mt-2">
                <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="25">25 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                  <option [ngValue]="10">100 items per page</option>
                </select>
                <ngb-pagination class="ms-3" [collectionSize]="(total$ | async)!" [(page)]="service.page"
                  [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container-fluid px-4">
  <div class="row my-2">
    <div class="col-lg-8 col-12 p-2"></div>
    <div class="col-lg-4 col-12 p-2 d-flex justify-content-end">
      <button type="button" class="btn btn-dark ms-3" #addTask (click)="openModal(template,false)">
        <i class="bi bi-plus-lg"></i>
        Add User</button>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="card-header pb-0">
        <h5>User's Details</h5>
      </div>
      <div class="m-2 row justify-content-end">
        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-complete-search" type="text" class="form-control" name="searchTerm" placeholder="search"
            [(ngModel)]="searchText" autocomplete="off">
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive ">
          <table class="table-hover table invoice-table dataTables_wrapper table-bordered">
            <thead>
              <tr>
                <th>Sr no.</th>
                <th>userId</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile No</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role </th>
                <th>Profile Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let data of getData() | filter :searchText; let id=index">
              <tr>
                <td scope="col" class="w-10">{{id+1}}</td>
                <td scope="col">{{data.userId}}</td>
                <td scope="col">{{data.firstName}}</td>
                <td scope="col">{{data.lastName}}</td>
                <td scope="col">{{data.mobileNo}}</td>
                <td scope="col">{{data.email}}</td>
                <td scope="col"> {{data.password}}</td>
                <td scope="col">{{data.role?.roleName}}</td>
                <td scope="col">
                  <img class="mx-1 w-25" [src]="data.profileImage" />
                </td>
                <td scope="col">
                  <i class="fa fa-edit fs-5 px-2" role="button" (click)="openEditModal(data.userId, template,true)"></i>
                  <i class="fa fa-trash-o px-2 fs-5" role="button" (click)="deleteUserById(data.userId)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 py-2">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Records per page:</label>
              </div>
              <div class="col-auto px-2">
                <select class="form-control" id="countPerPage" [(ngModel)]="itemsPerPage"
                  (ngModelChange)="updateCurrentPage(1)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
              </div>
            </div>
          </div>

          <div class="py-2 col-lg-6 d-flex justify-content-end">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-primary">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="currentPage = currentPage - 1" href="javascript:void(0)"
                    aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                </li>
                <li class="page-item" *ngFor="let page of getPages()">
                  <a class="page-link" [class.active]="currentPage === page" (click)="currentPage = page"
                    href="javascript:void(0)">{{ page
                    }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                  <a class="page-link" (click)="currentPage = currentPage + 1" href="javascript:void(0)"
                    aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add User</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalClose()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="modal-body">
        <div class="row">
          <div class="col px-2 mb-3">
            <div class="form-group">
              <label class="my-2" for="firstName">First Name:</label>
              <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': userForm.get('firstName')?.touched && userForm.get('firstName')?.invalid }" />
              <div *ngIf="userForm.get('firstName')?.touched && userForm.get('firstName')?.invalid"
                class="invalid-feedback">
                firstName is required.
              </div>
            </div>
          </div>
          <div class="col px-2 mb-3">
            <div class="form-group">
              <label class="my-2" for="lastName">Last Name:</label>
              <input type="text" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': userForm.get('lastName')?.touched && userForm.get('lastName')?.invalid }" />
              <div *ngIf="userForm.get('lastName')?.touched && userForm.get('lastName')?.invalid"
                class="invalid-feedback">
                lastName is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col px-2 mb-3">
              <div class="form-group">
                <label class="my-2" for="mobileNo">Mobile No:</label>
                <input type="text" formControlName="mobileNo" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('mobileNo')?.touched && userForm.get('mobileNo')?.invalid }" />
                <div *ngIf="userForm.get('mobileNo')?.touched && userForm.get('mobileNo')?.invalid"
                  class="invalid-feedback">
                  mobileNo is required.
                </div>
              </div>
            </div>
            <div class="col px-2">
              <div class="form-group">
                <label class="my-2" for="email">Email:</label>
                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': userForm.get('email')?.touched && userForm.get('email')?.invalid }" />
                <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid" class="invalid-feedback">
                  email is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6 px-2 mb-3">
            <div class="form-group">
              <label class="my-2" for="password">Password:</label>
              <input type="text" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': userForm.get('password')?.touched && userForm.get('password')?.invalid }" />
              <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid"
                class="invalid-feedback">
                password is required.
              </div>
            </div>
          </div>
          <div class="col-6 px-2 mb-3">

            <label class="my-2" for="roleId">Role:</label>
            <select formControlName="roleId" class="form-select form-control" id="bootstrap-notify-icon"
              [(ngModel)]="selectedRoleId" (change)="changeRoleId()" name="roleId">
              <option *ngFor="let item of roleDetails" [ngValue]="item.roleId">
                {{item?.roleName}}
              </option>
            </select>
            <div *ngIf="userForm.get('roleId')?.touched && userForm.get('roleId')?.invalid" class="invalid-feedback">
              roleId is required.
            </div>
          </div>

          <div class="col-6 px-2 mb-3">
            <div class="form-group">
              <label class="my-2" for="profileImage">Profile Image:</label>
              <div class="form-group">
                <input type="file" (change)="uploadUserImage($event)" multiple placeholder="Product Image" />
                <img *ngIf="profileImageSrc" [src]="profileImageSrc" alt="Product Image"
                  class="img-fluid w-25 text-center m-2" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="!isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()"
            (click)="addUser()">Submit</button>
          <button *ngIf="isEditing" type="submit" class="btn btn-success" (click)="modalRef?.hide()"
            (click)="edit()">Update</button>
        </div>
      </div>
    </form>
  </ng-template>
</div> -->