<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                </div>
                <div class="card-body">
                    <form class="needs-validation" [formGroup]="unlockForm" novalidate
                        [ngClass]="{'was-validated': validate}">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label" for="validationCustom01">Name</label>
                                <select class="form-select" aria-label="Default select example" required=""
                                    formControlName="user" onlyAlphabets>
                                    <option *ngFor="let item of userData" [ngValue]="item">{{item.name}}
                                    </option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please choose a Name.</div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="validationCustom02">Status</label>
                                <select class="form-select" aria-label="Default select example" id="validationCustom02"
                                    required="" formControlName="status" onlyAlphabets>
                                    <option value="lock">Lock</option>
                                    <option value="Unlock">Unlock</option>
                                </select>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please choose a Status.</div>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-3  float-end" type="button"
                            (click)="updateExpertProfileList()" [disabled]="unlockForm.invalid">Update</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Expert Profile Data</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive data-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of userData">
                                <tr>
                                    <th scope="row">{{item.name}}</th>
                                    <td>{{item.status | titlecase}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>