<div class="card">
   <div class="card-header pb-0">
     <h5>Column Chart <span>2</span></h5>
   </div>
   <div class="card-body chart-block">
     <div class="chart-overflow" id="column-chart2">
      <google-chart [data]="columnChart2"></google-chart>
     </div>
   </div>
 </div>