<div class="card">
   <div class="card-header pb-0">
     <h5>Area Spaline Chart </h5>
   </div>
   <div class="card-body">
     <div id="area-spaline">
      <apx-chart 
        [chart]="areaSpalineChart.chart"
        [dataLabels]="areaSpalineChart.dataLabels"
        [stroke]="areaSpalineChart.stroke"
        [series]="areaSpalineChart.series"
        [xaxis]="areaSpalineChart.xaxis"
        [colors]="areaSpalineChart.colors"
        [fill]="areaSpalineChart.tooltip">
        </apx-chart>
     </div>
   </div>
 </div>