<div class="card">
   <div class="card-header pb-0">
     <h5>Horizontal bar chart</h5>
   </div>
   <div class="card-body">
     <div class="ct-11 flot-chart-container">
      <x-chartist [configuration]="chart8"></x-chartist>

     </div>
   </div>
 </div>