 <div class="container-fluid user-card">
   <div class="row">
    <ng-container *ngFor="let user of userCards">
      <div class="col-md-6 col-lg-6 col-xl-4 box-col-4">
        <div class="card custom-card">
          <div class="card-header"><img class="img-fluid" src="{{user.image}}" alt=""></div>
          <div class="card-profile"><img class="rounded-circle" src="{{user.profileImg}}" alt=""></div>
          <ul class="card-social">
            <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://accounts.google.com"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://dashboard.rss.com/auth/sign-in"><i class="fa fa-rss"></i></a></li>
          </ul>
          <div class="text-center profile-details"><a routerLink="/users/users-profile">
              <h4>{{user.name}}</h4></a>
            <h6>Manager</h6>
          </div>
          <div class="card-footer row">
            <div class="col-4 col-sm-4">
              <h6>Follower</h6>
              <h3 class="counter">{{user.follower}}</h3>
            </div>
            <div class="col-4 col-sm-4">
              <h6>Following</h6>
              <h3><span class="counter">{{user.following}}</span>K</h3>
            </div>
            <div class="col-4 col-sm-4">
              <h6>Total Post</h6>
              <h3><span class="counter">{{user.totalPost}}</span>M</h3>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
   </div>
 </div>