<div class="job-sidebar md-sidebar"><a class="btn btn-primary job-toggle" href="javascript:void(0)" (click)="openFilter()">File Filter</a>
   <div class="md-sidebar-aside custom-scrollbar" [class.open]="OpenFilter">
     <div class="file-sidebar">
       <div class="card">
         <div class="card-body">
           <ul>
             <li>    
               <div class="btn btn-primary"><app-feather-icons [icon]="'home'"></app-feather-icons>Home</div>
             </li>
             <li>
               <div class="btn btn-light"><app-feather-icons [icon]="'folder'"></app-feather-icons>All</div>
             </li>
             <li>
               <div class="btn btn-light"><app-feather-icons [icon]="'clock'"></app-feather-icons>Recent</div>
             </li>
             <li>
               <div class="btn btn-light"><app-feather-icons [icon]="'star'"></app-feather-icons>Starred</div>
             </li>
             <li>
               <div class="btn btn-light"><app-feather-icons [icon]="'alert-circle'"></app-feather-icons>Recovery</div>
             </li>
             <li>
               <div class="btn btn-light"><app-feather-icons [icon]="'trash-2'"></app-feather-icons>Deleted</div>
             </li>
           </ul>
           <hr>
           <ul>
             <li>
               <div class="btn btn-outline-primary"><i data-feather="database"></i>Storage   </div>
               <div class="m-t-15">
                 <div class="progress sm-progress-bar mb-1">
                   <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
                 <h6>25 GB of 100 GB used</h6>
               </div>
             </li>
           </ul>
           <hr>
           <ul>
             <li>
               <div class="btn btn-outline-primary"><i data-feather="grid"></i>Pricing plan</div>
             </li>
             <li> 
               <div class="pricing-plan">
                 <h6>Trial Version </h6>
                 <h5>FREE</h5>
                 <p> 100 GB Space</p>
                 <div class="btn btn-outline-primary btn-xs">Selected</div><img class="bg-img" src="assets/images/dashboard/folder.png" alt="">
               </div>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>