<div class="card">
   <div class="card-header">
     <h5 class="p-0">
       <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon2" aria-expanded="true" aria-controls="collapseicon2" (click)="isProfile = !isProfile"
       [attr.aria-expanded]="!isProfile">About Me</button>
     </h5>
   </div>
   <div class="collapse show" #collapse="ngbCollapse" [ngbCollapse]="isProfile">
     <div class="card-body post-about">
       <ul>
         <li>
           <div class="icon"><app-feather-icons [icon]="'briefcase'"></app-feather-icons></div>
           <div>
             <h5>UX desginer at Pixelstrap</h5>
             <p>banglore - 2022</p>
           </div>
         </li>
         <li>
           <div class="icon"><app-feather-icons [icon]="'book'"></app-feather-icons></div>
           <div>
             <h5>studied computer science</h5>
             <p>at london univercity - 2015</p>
           </div>
         </li>
         <li>
           <div class="icon"><app-feather-icons [icon]="'heart'"></app-feather-icons></div>
           <div>
             <h5>relationship status</h5>
             <p>single</p>
           </div>
         </li>
         <li>
           <div class="icon"><app-feather-icons [icon]="'map-pin'"></app-feather-icons></div>
           <div>
             <h5>lived in london</h5>
             <p>last 5 year</p>
           </div>
         </li>
         <li>
           <div class="icon"><app-feather-icons [icon]="'droplet'"></app-feather-icons></div>
           <div>
             <h5>blood group</h5>
             <p>O+ positive</p>
           </div>
         </li>
       </ul>
       <div class="social-network theme-form"><span class="f-w-600">Social Networks</span>
         <button class="btn social-btn btn-fb mb-2 text-center"><i class="fa fa-facebook m-r-5"></i>Facebook</button>
         <button class="btn social-btn btn-twitter mb-2 text-center"><i class="fa fa-twitter m-r-5"></i>Twitter</button>
         <button class="btn social-btn btn-google text-center"><i class="fa fa-dribbble m-r-5"></i>Dribbble</button>
       </div>
     </div>
   </div>
 </div>