/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "assets/scss/app.scss";
// @import '~ngx-toastr/toastr.css';

.router-wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100% - 47px);
  perspective: 1200px;
  transform-style: preserve-3d;
}

:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #60d7a9;
}

.own-table {
  img {
    height: 40px;
  }
  span,
  p {
    color: $semi-dark;
  }
  thead {
    tr {
      th {
        border: 1px solid $light-gray;
        color: $dark;
        &:first-child {
          text-align: center;
        }
        &:last-child {
          text-align: center;
        }
      }
    }
  }
  tbody {
    tr td {
      border: 1px solid $light-gray;
      color: $dark;
      &:first-child {
        text-align: center;
      }
      &:last-child {
        text-align: center;
        min-width: 160px;
      }
    }
  }
}
.invoice-table {
  .table {
    tr {
      td {
        &:nth-child(n + 2) {
          p,
          h6 {
            text-align: center;
          }
        }
      }
    }
  }
}
.dataTables_wrapper {
  button {
    padding: 2px 12px;
    font-size: 14px;
    z-index: 0;
    + button {
      margin-left: 6px;
    }
  }
}

