<div class="container-fluid bootstrap-tables">
   <div class="row">
     <div class="col-sm-12">
      <app-basic-table></app-basic-table>
     </div>
     <div class="col-sm-12">
       <app-inverse-table></app-inverse-table>
     </div>
     <div class="col-sm-12">
       <app-hoverable-rows></app-hoverable-rows>
     </div>
     <div class="col-sm-12">
      <app-inverse-primary-bg></app-inverse-primary-bg>
     </div>
     <div class="col-sm-12">
      <app-caption></app-caption>
    </div>
     <div class="col-sm-6">
      <app-head-options></app-head-options>
     </div>
     <div class="col-sm-6">
       <app-striped-row-inverse></app-striped-row-inverse>
     </div>
     <div class="col-sm-12">
      <app-breckpoint></app-breckpoint>
    </div>
     <div class="col-sm-12">
       <app-responsive-tables></app-responsive-tables>
     </div>
     <div class="col-sm-12">
      <app-common-sizing-table [table]="tablesXl"></app-common-sizing-table>
     </div>
     <div class="col-sm-12">
      <app-custom-with-hover></app-custom-with-hover>
     </div>
     <div class="col-sm-12">
      <app-common-border-table [table]="borderTableHorizontal"></app-common-border-table>
     </div>
   </div>
 </div> 
