 
<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Order history</h5>
         </div>
         <div class="card-body">
           <div class="order-history table-responsive">
             <table class="table display" id="basic-1">
               <thead>
                 <tr>
                   <th scope="col">Prdouct</th>
                   <th scope="col">Prdouct name</th>
                   <th scope="col">Size</th>
                   <th scope="col">Color</th>
                   <th scope="col">Article number</th>
                   <th scope="col">Units</th>
                   <th scope="col">Price</th>
                   <th scope="col"><i class="fa fa-angle-down"></i></th>
                 </tr>
               </thead>
               <tbody>
                <ng-container *ngFor="let order of orderHistory">
                  <tr>
                    <td><a href="ecommerce/product-page"><img class="img-fluid img-30" src="{{order.img}}" alt="{{order.product}}"></a></td>
                    <td>
                      <div class="product-name"><a href="#">{{order.product}}</a>
                        <div class="order-process"><span class="order-process-circle" [ngClass]="{'shipped-order' : order.status === 'Shipped',
                          'cancel-order' : order.status === 'Cancelled'}"></span>{{order.status}}</div>
                      </div>
                    </td>
                    <td>{{order.size}}</td>
                    <td>{{order.color}}</td>
                    <td>{{order.articleNumber}}</td>
                    <td>{{order.units}}</td>
                    <td>${{order.price}}</td>
                    <td><app-feather-icons [icon]="'more-vertical'"></app-feather-icons></td>
                  </tr>
                </ng-container>
               </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>