<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                </div>
                <div class="card-body">
                    <form class="needs-validation" [formGroup]="expertProfileForm" novalidate
                        [ngClass]="{'was-validated': validate}">
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label" for="validationCustom01">Name</label>
                                <input class="form-control" id="validationCustom01" formControlName="name" type="text"
                                    placeholder="Name" required="" onlyAlphabets>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please choose a Name.</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="validationCustom02">Background</label>
                                <input class="form-control" id="validationCustom02" formControlName="backGround"
                                    type="text" placeholder="Background" required="" onlyAlphabets>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please choose a Background.</div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label" for="validationCustomUsername">Experience</label>
                                <div class="input-group">
                                    <input class="form-control" id="validationCustomUsername" type="number"
                                        placeholder="Experience" formControlName="experience"
                                        aria-describedby="inputGroupPrepend" required="">
                                    <div class="invalid-feedback">Please choose a Experience.</div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 pb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="validationCustom03">Mobile No</label>
                                <input class="form-control" formControlName="mobileNo" id="validationCustom03"
                                    type="number" placeholder="Mobile No" required="">
                                <div class="invalid-feedback">Please provide a Mobile No.</div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label" for="validationCustom04">Location</label>
                                <input class="form-control" formControlName="location" id="validationCustom04"
                                    type="text" placeholder="Location" required="">
                                <div class="invalid-feedback">Please provide a valid Location.</div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>

                        </div>

                        <button class="btn btn-primary " type="button" (click)="submit()"
                            [disabled]="expertProfileForm.invalid" *ngIf="showSubmitButton==true">Submit
                            form</button>
                        <button class="btn btn-primary " type="button" (click)="updateExpertProfileList()"
                            [disabled]="expertProfileForm.invalid" *ngIf="showSubmitButton==false">Update
                            form</button>
                    </form>
                </div>
            </div>

        </div>


    </div>
</div>