<div class="card">
   <div class="card-header pb-0">
     <h5>
        3d Bubble Chart </h5>
   </div>
   <div class="card-body">
     <div id="chart-bubble">
      <apx-chart 
        [chart]="bubbleChart.chart"
        [dataLabels]="bubbleChart.dataLabels"
        [series]="bubbleChart.series"
        [fill]="bubbleChart.fill"
        [title]="bubbleChart.title"
        [xaxis]="bubbleChart.xaxis"
        [yaxis]="bubbleChart.yaxis"
        [theme]="bubbleChart.theme"
        [stroke]="bubbleChart.stroke"
        [colors]="bubbleChart.colors">
        </apx-chart>
     </div>
   </div>
 </div>