<div class="card">
   <div class="card-header pb-0">
     <h5>Column Chart </h5>
   </div>
   <div class="card-body">
     <div id="column-chart">
      <apx-chart 
        [chart]="columnChart.chart"
        [plotOptions]="columnChart.plotOptions"
        [dataLabels]="columnChart.dataLabels"
        [stroke]="columnChart.stroke"
        [series]="columnChart.series"
        [xaxis]="columnChart.xaxis"
        [yaxis]="columnChart.yaxis"
        [fill]="columnChart.fill"
        [tooltip]="columnChart.tooltip"
        [colors]="columnChart.colors">
        </apx-chart>
     </div>
   </div>
 </div>